<configuration>
    <system.webServer>
        <rewrite>
            <rules>					
                <rule name="Pos_Public" stopProcessing="true">
                    <match url="(.*)" />
                     <conditions>
                        <add input="{HTTP_HOST}" pattern="off" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:40007/{R:1}" />
                </rule>
                 <rule name="Pos_protouch" stopProcessing="true">
                    <match url="(.*)" />
                     <conditions>
                        <add input="{HTTP_HOST}" pattern="*protouch*" />
                    </conditions>
                    <action type="Rewrite" url="http://protouch.localhost:40007/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>