<configuration>
    <system.webServer>
        <rewrite>
            <rules>		
                        <rule name="POS Rewrite subdomain">
            <match url="^(.+)" /> <!-- rule back-reference is captured here -->
            <conditions>
            <add input="{HTTP_HOST}" type="Pattern" pattern="^([^.]+)\.egytag\.com$" /> <!-- condition back-reference is captured here -->
            </conditions>
            <action type="Rewrite" url="http://{C:1}localhost:40007/{R:1}" /> <!-- rewrite action uses back-references to condition and to rule when rewriting the url -->
            </rule>			
                <rule name="POS" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:40007/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>