@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');

:root {
    --direction: rtl;
    --text-align: right;
    --float: right;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
--theme-color: #00A884;
--theme-color2: #019777;
--font-family: 'Cairo', sans-serif;
--tabs-color: #fff;
--tabs-background-color: var(--theme-color);
--tabs-background-color2: var(--theme-color);
--tabs-header-width: 20%;
--tabs-content-width: 80%;
--tabs-header-link-font-size: 18px;
--tabs-header-link-font-weight: 700;
--tabs-header-link-color: #272727;
--tabs-header-link-color2: #ffffff;
--tabs-header-link-background: none;
--tabs-header-link-border: none;
--tabs-header-link-border-bottom: 1px solid var(--theme-color);
--tabs-header-link-radius: 0px;
--tab-animation-name: animateleft;
--tab-animation-duration: 1s;
--table-color: #030303;
--table-background-color: #ffffff;
--table-border: 1px solid #bbb;
--table-hover-background-color: #eee;
--table-th-color: #fff;
--direction: rtl;
--form-color: #000000;
--form-background-color: none;
--input-color: #0000ff;
--input-background-color: #ffffff;
--input-height: 35px;
--input-padding: 6px 12px;
--input-font-size: 14px;
--input-font-wight: normal;
--input-border-radius: 0px;
--input-border-width: 0 0 1px;
--input-border-color: rgba(211, 211, 211, 0.91);
--input-focus-border-width: 0 0 2px;
--input-focus-border-color: var(--theme-color);
--i-image-border: 2px dashed var(--theme-color);
--i-image-view-border: 2px solid var(--theme-color);
--btn-color: #000;
--btn-background: #ffffff;
--btn-box-shadow: none;
--btn-box-shadow-color: #272727;
--btn-border-radius: 5px;
--btn-border: 1px solid #ddd;
--btn-display: inline-block;
--btn-cursor: pointer;
--btn-min-width: 90px;
--btn-min-height: 36px;
--btn-font-weight: 400;
--btn-text-decoration: none;
--btn-text-align: center;
--btn-vertical-align: middle;
--btn-margin: 10px;
--btn-padding: 7px 9px;
--btn-font-size: 14px;
--btn-user-select: none;
--btn-add-color: #000;
--btn-add-background-color: #ffffff;
--btn-update-color: #000;
--btn-update-background-color: #ffffff;
--btn-save-color: #000;
--btn-save-background-color: #ffffff;
--btn-delete-color: #000;
--btn-delete-background-color: #ffffff;
--btn-view-color: #000;
--btn-view-background-color: #ffffff;
--btn-exit-color: #000;
--btn-exit-background-color: #ffffff;
--btn-search-color: #000;
--btn-search-background-color: #ffffff;
--btn-print-color: #000;
--btn-print-background-color: #ffffff;
--btn-export-color: #000000;
--btn-export-background-color: #ffffff;
--btn-sgin-color: #000000;
--btn-sgin-background-color: #ffffff;
--scrollbar-background-color: var(--theme-color);
--scrollbar-color: #ffeb3b;
--scrollbar-box-shadow-color: #4caf50;

}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 10px #ddd inset;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme-color2);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-color2);
}

.tag-list::-webkit-scrollbar {
    width: 40px;
    height: 10px;
}

a,span,button,p{
    font-family: var(--font-family);
    text-decoration: none;
}

.main-menu {
    margin: 0 auto;
    width: 100%;
    padding: 2px;
    text-align: center;
}

.main-menu {
    opacity: 1;
    position: fixed;
    width: auto;
    right: 0px;
    top: 94px;
    bottom: 33px;
    overflow: auto;
    padding: 0px;
    text-align: center;
    /* border: 3px solid #eee; */
    background: #fff;
    border-radius: 0px 0px 0px 0px;
    transition: all 0.5s ease;
}

.toggle {
    opacity: 1;
    position: fixed;
    width: 78px;
    bottom: -2px;
    overflow: auto;
    padding: 0px;
    text-align: center;
    border: 3px solid #eee;
    background: #fff;
    border-radius: 0px 0px 0px 0px;
    transition: all 0.5s ease;
    text-align: left;
}

.toggle a i.fa-bars {
    padding: 10px;
    font-size: 24px;
}

.user-tabs {
    width: 85% !important;
    float: left;
}


.main-menu.menu-show {
    opacity: 1;
}

.main-menu.menu-show .tab-link span {
    display: inline-block;
}

.inline.title.toggle.menu-show {
    width: 279px;
}

.main-menu .tab-link span {
    display: none;
}

.links .tabs {
    display: none;
    transition: all 0.5s ease;
}

.tabs {
    display: inline-block;
    padding: 5px;
    width: 100%;
    transition: all 0.5s ease;
}



.links .tabs .tabs-header {
    width: 100%;
}

.tabs .tabs-header {
    padding: 1px;
    width: var(--tabs-header-width);
    margin: 0px;
    display: inline-block;
    float: var(--float);
    overflow: hidden;
    background: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip {
    position: static !important;
}

.tabs .tabs-header .tab-link:hover {
    border-radius: 10px;
}

.tabs .tabs-header .tab-link:hover {
    background-color: var(--tabs-background-color2);
    color: var(--tabs-header-link-color2);
}

.tab-link span {
    padding: 0 15px;
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    right: 0px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.main-menu .tabs-header .tab-link {
    color: #000;
    /* border-radius: 0px !important; */
}


.tabs {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "tabs-header tabs-content tabs-content tabs-content";
    padding: 5px;
    width: 100%;
    transition: all 0.5s ease;
}

.tabs .tabs-header {
    padding: 1px;
    width: 100%;
    margin: 0px;
    display: inline-block;
    float: var(--float);
    overflow: hidden;
    background: none;
}

.tabs .tabs-header .tab-link.active {
    border-radius: 10px;
}

.tabs .tabs-header .tab-link.active {
    background-color: var(--tabs-background-color);
    color: var(--tabs-color);
}

.tabs .tabs-header .tab-link {
    border-radius: var(--tabs-header-link-radius);
    background: var(--tabs-header-link-background);
    border: var(--tabs-header-link-border);
    border-bottom: var(--tabs-header-link-border-bottom);
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
    font-size: var(--tabs-header-link-font-size);
    font-weight: var(--tabs-header-link-font-weight);
    color: var(--tabs-header-link-color);
    margin: 10px;
    display: block;
    text-decoration: none;
}

.tabs .tabs-content .tab-content {
    display: none;
    padding: 6px 12px;
    width: 100%;
    overflow: visible;
    -webkit-animation-name: var( --tab-animation-name);
    -webkit-animation-duration: var( --tab-animation-duration);
    animation-name: var( --tab-animation-name);
    animation-duration: var( --tab-animation-duration);
}

fieldset {
    margin: 15px;
    padding: 0 5px 5px;
    border: 1px solid var(--theme-color);
    border-radius: 8px;
    box-shadow: 0 0 3px #b8abff;
    padding-top: 5px;
}

fieldset > legend {
    margin-top: -20px;
    background-color: white;
}

.row, .row10 {
    display: inline-block;
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}

.table.center {
    text-align: center !important;
}

.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    border: var(--table-border);
    padding: 5px;
    background-color: var(--table-background-color);
    color: var(--table-color);
    direction: var(--direction);
    float: var(--float);
}

.center, .center p, .center span, .center label, .center b, .center i, .center img {
    margin: 0 auto !important;
    text-align: center !important;
}

.bold {
    font-weight: bold;
}

.loaded {
    visibility: collapse;
}

* {
    box-sizing: border-box;
    margin: 0px;
    line-height: var(--line-height);
    min-height: 1px;
    text-align: var(--text-align);
    direction: var(--direction);
    max-width: 100%;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.table.center * {
    text-align: center !important;
}

.table tr {
    border-bottom: var(--table-border);
    transition: all 0.3s ease;
}

.table td {
    padding: 2px;
}

.table td {
    border: var(--table-border);
    padding: 5px;
    vertical-align: middle;
    min-width: 100px;
}

.blue {
    color: #3f51b5 !important;
}

.logo {
    border-radius: 5px;
    color: var(--theme-color);
    padding: 0 !important;
}

form {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    color: var(--form-color);
    background-color: var(--form-background-color);
}



.table input {
    font-size: 13px !important;
}

input[type='file'] {
    padding: 3px;
}

.hidden {
    display: none !important;
}

input, select, textarea {
    width: inherit;
    text-align: var(--text-align);
    font-family: var(--font-family);
    height: var(--input-height);
    min-height: var(--input-height);
    line-height: var(--line-height);
    padding: var(--input-padding);
    font-size: var(--input-font-size);
    font-weight: var(--input-font-wight);
    color: var(--input-color);
    background-color: var(--input-background-color);
    background-image: none;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-radius: var(--input-border-radius);
    border-width: var(--input-border-width);
    border-color: var(--input-border-color);
    border-style: solid;
    outline: none;
    scrollbar-arrow-color: var(--input-color);
    -ms-scrollbar-arrow-color: var(--input-color);
}

i-image[view] img {
    border: var(--i-image-view-border);
}
i-image.logo img {
    width: 48px;
    height: 48px;
}
.center, .center p, .center span, .center label, .center b, .center i, .center img {
    margin: 0 auto !important;
    text-align: center !important;
}
.bg-white {
    background-color: white !important;
}
i-image img {
    padding: 3px;
    border-color: #5b60ff;
}
i-image img {
    padding: 3px;
}
i-image img {
    width: 200px;
    height: 200px;
    border: var(--i-image-border);
    padding: 5px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
}
img {
    padding: 3px;
}

progress {
    height: 5px;
    background-color: #000;
    color: blue;
}

.btn.update, .btn.edit {
    color: var(--btn-update-color);
    background-color: var(--btn-update-background-color);
}
.btn {
    user-select: var(--btn-user-select);
    text-decoration: var(--btn-text-decoration);
    text-align: var(--btn-text-align);
    vertical-align: var(--btn-vertical-align);
    margin: var(--btn-margin);
    padding: var(--btn-padding);
    font-size: var(--btn-font-size);
    color: var(--btn-color);
    border: var(--btn-border);
    border-radius: var(--btn-border-radius);
    background: var(--btn-background);
    box-shadow: var(--btn-box-shadow);
    -moz-box-shadow: var(--btn-box-shadow);
    -webkit-box-shadow: var(--btn-box-shadow);
    display: var(--btn-display);
    cursor: var(--btn-cursor);
    min-width: var(--btn-min-width);
    min-height: var(--btn-min-height);
    font-weight: var(--btn-font-weight);
}

.btn.default {
    min-width: 0px;
    min-height: 0px;
    padding: 7px;
    font-size: 12px;
    box-shadow: none;
}
.left {
    float: left !important;
}