nav.sitebar {
  z-index: 999999;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 45px;
  box-shadow: 1px 1px 8px 0px #000;
  background: var(--theme-color);
  border-radius: 0px 0px 0px 0px;
}

nav .brand {
  margin: 0px;
  padding: 5px;
}

nav .brand .title {
  vertical-align: super;
}

nav .brand .title .fa {
  font-size: 22px;
  margin-left: 20px;
  margin-right: 20px;
}

nav .brand .title a {
  font-size: 22px;
  font-weight: bold;
  color: var(--brand-color);
  text-decoration: none;
}

nav .brand .title a span {
  font-size: 12px;
  color: #ffffff;
}

nav .brand a i {
  color: #ffffff;
}

nav .links {
  display: block;
  -webkit-animation-name: var(--modal-animation-name);
  -webkit-animation-duration: var(--modal-animation-duration);
  animation-name: var(--modal-animation-name);
  animation-duration: var(--modal-animation-duration);
}

nav .links ul {
  list-style: none;
}

nav .links ul li {
  display: inline-block;
  margin: 3px;
  padding: 3px;
}

nav .links ul li a {
  color: #030303;
}

.main-menu {
  opacity: 1;
  position: fixed;
  display: block;
  z-index: 999999999;
  width: auto;
  right: 0px;
  top: 45px;
  bottom: 24px;
  text-align: center;
  background: var(--theme-color);
  transition: all 0.5s ease;
  padding: 20px;
  min-width: 250px;
  overflow: auto;
}

.en .main-menu {
  left: 0px;
  right: auto;
}

a i {
  margin: 0px 0px 0px 10px;
}

.menu-item {
  display: block !important;
  margin: 0px 0px 10px 0px !important;
}

.menu-item {
  display: block !important;
  margin: 0px 0px 10px 0px !important;
}

.menu-item a {
  color: #fff !important;
  text-decoration: none;
  padding: 10px;
  transition: all 0.2s ease;
}
.menu-item a:hover {
  padding-right: 20px;
}

.user-menu {
  display: none;
  position: fixed;
  width: auto;
  max-width: 350px;
  left: 5px;
  top: 45px;
  bottom: auto;
  padding: 15px;
  text-align: center;
  border-top: none;
  background: var(--theme-color);
  border-radius: 0px 0px 50px 50px;
  overflow: hidden;
}

.en .user-menu {
  right: 5px;
  left: auto;
}
.user-menu > img {
  width: 128px;
  height: 128px;
  margin-bottom: 20px;
  object-fit: contain;
}
.user-menu .user-name {
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.user-menu .user-email {
  color: #fff;
  text-align: center;
  font-style: italic;
}

.user-info a {
  display: inline;
  margin-left: 10px;
  background: #fff;
  float: left;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--theme-color);
  text-decoration: none;
  transition: all 0.2s ease;
}
.user-info a:hover {
  transform: scale(1.1);
}
.en .user-info a,
.en .user-info > img {
  float: right;
}
.user-info > img {
  float: left;
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 2px #fff;
  margin: 0px;
  object-fit: contain;
  mix-blend-mode: luminosity;
}

.user-info .user-name {
  color: #555;
  font-weight: bold;
  font-size: 18px;
}
.user-menu > .btn {
  display: block;
  text-align: center;
  margin: 20px;
  background: aliceblue;
}
.user-menu:in-range(span, p) {
  overflow-wrap: break-word;
  color: #fff;
}

nav.sitebottom {
  z-index: 999999;
  position: fixed;
  display: block;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 40px;
  background: var(--theme-color);
  color: #ffffff;
}

nav.sitebottom a.link {
  background: #7fc7ff;
  color: #317cb9;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 20px;
  margin: 2px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

nav.sitebottom a.link:hover {
  background: #fff;
  color: #444;
}

.footer {
  margin: 20px;
  border: 1px solid #bbb;
  padding: 5px;
}

.footer h2 {
  font-weight: bold;
  color: #000;
}

.footer h2 span {
  font-weight: bold;
  color: green;
}
