:root {
  --theme-color: #272727;
  --modal-color: #fff;
  --brand-color: #ffffff;
  --body-background: #fafafa;
  --bs-body-bg: var(--body-background);
  --tabs-content-width: 100%;
  --scrollbar-background-color: var(--theme-color);
  --scrollbar-box-shadow: inset 0 0 1px #000;
  --scrollbar-outline: none;
  --scrollbar-width: 5px;
  --bs-font-sans-serif: Arabic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --treeview-color2: var(--theme-color);
  --treeview-background-color2: var(--brand-color);
  --i-image-border: none;
  --menu-width: 270px;
  --fieldset-background: #fff;
  --tabs-header-link-color: #7c7c7c;
}

.app-name {
  padding: 0px 20px 4px;
  color: white;
  font-size: 19px;
  font-weight: 800;
  background: #00bcd4;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

body {
  margin-top: 100px;
  margin-right: var(--menu-width);
  margin-left: 0px;
}
body.en {
  margin-top: 100px;
  margin-left: var(--menu-width);
  margin-right: 0px;
}
i-checkbox {
  padding-right: 20px !important;
  padding-left: 20px !important;
  display: block;
}
i-radio {
  padding-right: 20px !important;
  padding-left: 20px !important;
  display: block;
}

legend > i-checkbox {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.modal-header h2 {
  text-align: center;
}
.modal-content {
  background: var(--body-background);
}

.border-right {
  border-right: 1px solid;
}

.border-left {
  border-left: 1px solid;
}

.delete-key {
  cursor: pointer;
}

.delete-key:hover {
  color: red;
}

.key-words {
  border: 1px solid;
  inline-size: auto;
  margin: 3px;
  border-radius: 15px;
}

.tabs {
  display: inline-block;
  padding: 0px !important;
  width: 100%;
  transition: all 0.1s ease;
  border-radius: 10px;
  box-shadow: 1px 1px 8px #000;
  border: 6px solid var(--theme-color);
}
.tabs .tabs-header {
  padding: 0px;
  width: var(--tabs-header-width);
  margin: 0px;
  display: inline-block;
  float: var(--float);
  overflow: hidden;
  background: var(--theme-color);
  border-bottom: 2px solid #fff;
}
.tabs .tabs-header .tab-link.active {
  background-color: var(--tabs-background-color);
  color: var(--tabs-color);
  border-bottom: 3px solid #ffffff !important;
}
.tabs .tabs-header .tab-link:hover {
  background-color: var(--tabs-background-color2);
  color: var(--tabs-header-link-color2);
  border-bottom: 2px solid;
}
.tabs .tabs-content {
  width: var(--tabs-content-width);
  display: inline-block;
}
