:root {
  --theme-color: #607d8b;
  --brand-color: #8bc34a;
  --body-background: #fafafa;
  --bs-body-bg: var(--body-background);
  --tabs-content-width: 100%;
  --scrollbar-background-color: var(--theme-color);
  --scrollbar-box-shadow: inset 0 0 1px #000;
  --scrollbar-outline: none;
  --scrollbar-width: 5px;
  --bs-font-sans-serif: Arabic, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --treeview-color2: var(--theme-color);
  --treeview-background-color2: var(--brand-color);
  --i-image-border: none;
  --menu-width : 320px;
}

body {
  margin-top: 100px;
  margin-right: var(--menu-width);
  margin-left: 0px;
}
body.en {
  margin-top: 100px;
  margin-left: var(--menu-width);
  margin-right: 0px;
}
i-checkbox {
  padding-right: 20px !important;
  padding-left: 20px !important;
  display: block;
}
i-radio {
  padding-right: 20px !important;
  padding-left: 20px !important;
  display: block;
}

legend > i-checkbox {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.modal-header h2 {
  text-align: center;
}
.modal-content {
  background: var(--body-background);
}

.border-right {
  border-right: 1px solid;
}

.border-left {
  border-left: 1px solid;
}

.delete-key {
  cursor: pointer;
}

.delete-key:hover {
  color: red;
}

.key-words {
  border: 1px solid;
  inline-size: auto;
  margin: 3px;
  border-radius: 15px;
}
