/* start mainImage */

.mainImage {
  width: 100%;
  height: 500px;
  margin-top: 10px;
  background: url(https://ik.imagekit.io/ikmedia/backlit.jpg) no-repeat center;
  background-size: contain;
  background-color: var(--background1);
  border-radius: 15px;
}
.MI-newsTilteTime {
  width: 100%;
  height: inherit;
  color: var(--color1);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 76.04%);
  border-radius: 15px;
  direction: rtl;
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.MI-newstitle {
  padding-left: 6px;
  width: 100%;
  height: auto;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.MI-newstime {
  padding-bottom: 16px;
  gap: 3px;
}

/* end mainImage */

/* start mainSection */

.sideAds {
  position: sticky;
  top: 50px;
}

.articleEditor {
  padding-bottom: 10px;
  border-bottom: 5px solid var(--background1);
  gap: 50px;
  align-items: center;
  flex-direction: row;
}
.writerArea{
  background: var(--background2);
  padding: 1rem;
  border-radius: 5px;
  color: var(--color2);
  gap: 1rem;
}
.mainarticle {
  padding: 0;
  line-height: 1.5;
  font-size: x-large;
  width: 100%;
}

.mainarticle iframe {
  left: 0px;
  top: 0px;
  min-height: 50vh;
  width: 100%;
  background-color: var(--background1);
  border: none;
  border: 5px solid var(--color1);
}

.mainarticle img {
  max-width: 90%;
}
.videoArticle {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  background-color: #000000f2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.videoArticle .videopalyer {
  width: 100%;
}
.videoArticle video {
  width: 100%;
  max-height: 60vh;
}
.videoArticle .palyicon {
  font-size: 50px;
  color: var(--color1);
  cursor: pointer;
  translate: -50%;
  position: absolute;
}

.imagesArticle {
  width: 909px;
  height: 511px;
  padding-top: 16px;
  padding-left: 16px;
  background-image: url(https://ik.imagekit.io/ikmedia/backlit.jpg);
  background-position: top center;
  background-size: cover;
  border-radius: 15px;
}

.IASmallSlider {
  height: 480px;
  gap: 8px;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  z-index: 1;
}

.IASmallSlider::-webkit-scrollbar {
  display: none;
}

.videoArticle > .videoFile {
  border-radius: 0;
  background-color: rgb(44 44 44 / 0%) !important;
}

.showAnddisplay {
  display: flex !important;
}

/* end mainSection */

/* start related news */

.RNheadsection {
  width: inherit;
}

.RNSubSection {
  width: inherit;
}

/* end related news */

@media (max-width: 767px) {
}
