.footer {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 20px;
}
.topFooter {
  width: 100%;
  background-color: var(--background1);
}

.footerMenu {
  font-size: 18px;
  color: var(--color1);
}

.footerMenu > ul > li > a {
  color: var(--color1);
}

.followUs {
  color: var(--color1);
  background: var(--background1);
  border: 5px solid var(--background2);
  border-radius: 10px;
}

.followUs  p {
  font-weight: 600;
  font-size: 30px;
  color: var(--color1);
}
.socialMediaIcon {
  font-size: 30px;
}
.socialMediaIcon a {
  color: var(--color1);
  list-style: none;
}

.subscripe {
  font-size: x-large;
  color: var(--color1);
}

.suscripeLabel {
}

.subscripe > div > input {
  width: 100%;
  padding: 10px 8px;
  border: 1px solid var(--background2);
  border-radius: 25px;
}
.bottomFooter {
  width: 100%;
  background-color: var(--background1x);
  color: #fff;
  border-top: 3px solid var(--background2);
}
.bottomFooter a {
  color: var(--color1);
  font-size: 20px;
}
.footerLogo a{
  display: block;
  text-align: center;
}
.footerLogo p{
  color: var(--color1);
  font-size: larger;
  text-shadow: 1px 1px 1px #000;
  border-bottom: 1px solid var(--background2);
  margin: 5px;
  padding: 5px;
}