.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 95vw;
}

* {
  --head-title: 12px;
  --title: 18px;
  --readTime: 12px;
}

.mainHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* start top header */

.topHeader {
  position: fixed;
  z-index: 9999999999999;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding: 0px;
  height: 57px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background2);
  color: var(--color2);
  border-bottom: 1px solid var(--background1);
}

.breakingTitle {
  font-size: 18px;
  height: inherit;
  width: 9%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background1);
  color: var(--color1);
  z-index: 100;
  font-weight: bold;
}

.newsText {
  position: relative;
  width: 82%;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}
.newsText > ul {
  position: absolute;
  bottom: -16px;
  width: fit-content;
  display: flex;
  gap: 8px;
  flex-direction: row;
  overflow: hidden;
  /* transform: translateX(-100%); */
  animation: newsText 100s 0s infinite linear;
  will-change: transform;
  direction: rtl;
}

.newsText > ul > li {
  display: inline-block;
}
.newsText > ul > li p:hover {
  border-bottom: 2px solid var(--background2);
}
.newsText > ul > li > a {
  color: var(--color2);
}

@keyframes newsText {
  from {
    transform: translateX(-101.5%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes newsText2 {
  from {
    transform: translateX(-101.5%);
  }
  to {
    transform: translateX(100%);
  }
}

.time {
  font-size: 18px;
  height: inherit;
  width: 9%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background1);
  color: var(--color1);
  z-index: 100;
}

#todaydateMdscreen {
  font-size: 14px;
}

#todaydateXsscreen {
  font-size: 12px;
}

/* end top header */

/* start editor And Ceo header */

.editorAndCeoHeader {
  background-color: var(--background1);
  color: var(--color1);
  padding: 10px 9%;
}

/* end editor And Ceo header */

/* start mid header */

.midHeader {
  padding: 0 9%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 109px;
  border-bottom: 7px solid var(--background1);
  border-radius: 0 0 25px 25px;
}

.midHeadercontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.logoAndHead {
  /* width: 35%; */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
}

.logo {
  background-color: transparent;
}
.logo img {
  object-fit: cover;
}
.site-title {
  color: var(--color4);
}
.ceo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
}

.headOfEditor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.headTitle {
  font-size: var(--head-title);
  font-weight: bold;
  color: var(--color1);
}

.ceo .title {
  font-size: 16px;
  font-weight: bold;
  direction: rtl;
  text-align: center;
}

.headOfEditor .title {
  font-size: 16px;
  font-weight: bold;
  direction: rtl;
  text-align: center;
}

.SearchBAr {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0 16px;
  padding: 0 24px;
  gap: 24px;
  border: 2px solid var(--background1);
  border-radius: 50px;
  height: 59px;
}

.fa-search {
  font-size: 20px !important;
  color: var(--background1);
}

.vl {
  border-left: 3px solid var(--background1);
  height: 39px;
}

.searchField {
  width: 100%;
}

.searchInput {
  width: 100%;
  height: 45px;
  padding: 0 16px;
  direction: rtl;
  border: 0px solid var(--background1);
  outline: none;
  background: var(--background4);
  border-radius: 10px;

}

.searchInput:focus {
  font-weight: bold;
  background: var(--color1);
}

.headerWidget {
  /* width: 30%; */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0 16px;
  gap: 16px;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 73px;
}

.weatherIcon {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.vlWeather {
  border-left: 1px solid var(--background2);
  height: 20px;
}

.weatherDetails {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  color: var(--background1);
  background-color: var(--six-color);
  gap: 8px;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 15px;
  box-shadow: 0 0 7px #00000047;
}

.PrayerTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 151px;
  height: 73px;
  cursor: pointer;
  z-index: 200;
}

.PrayerIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 16px;
}

.vlPrayer {
  border-left: 1px solid var(--background1);
  height: 20px;
}

.PrayerDetails {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  color: var(--background1);
  background-color: var(--six-color);
  gap: 8px;
  padding: 2px 3px;
  font-size: 12px;
  border-radius: 15px;
  box-shadow: 0 0 7px #00000047;
}

.showAnddisplay {
  display: flex !important;
}

.paryertimeItems {
  display: none;
  position: absolute;
  width: 200px;
  margin-top: 8px;
  background-color: var(--six-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.paryertimeItems > li > div {
  font-size: 12px;
}

/* end mid header */

/* start bottom header */

.bottomHeader {
  padding: 0;
  background-color: var(--background3);
  margin-top: 10px;
  box-shadow: 0px 0px 5px var(--background1);
}

.navbarlist {
  height: 50px;
  /* display: flex; */
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.navbarlist > .dropdown {
  z-index: 2;
}

.navbarlist > li,
.navbarlist > li > a {
  color: var(--color3);
  font-weight: bold;
  transition: all 0.2s ease;
}

.navbarlist > li:hover,
.navbarlist > li > a:hover {
  transform: scale(1.3);
}
.navbarlist > li:first-child > a {
  font-size: 32px;
}

.nav-link:focus,
.nav-link:hover {
  transform: scale(1.3);
}
.navbarlist ul {
  width: max-content;
  max-width: 70vw;
  background: var(--background1x);
  border-radius: 0px 0px 20px 20px;
}
.navbarlist ul li {
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
}
.navbarlist ul li a {
  color: var(--color1);
  border-radius: 10px;
}
.navbarlist .dropdown:hover ul {
  display: block;
}
/* end bottom header */

@media (min-width: 1200px) and (max-width: 1399px) {
  .midHeader {
    padding: 0 2%;
  }
  .bottomHeader {
    padding: 0 2%;
  }
}

@media (max-width: 767px) {
  .topHeader {
    position: fixed;
    left: 0;
    bottom: 0;
    top: auto;
    width: 100vw;
    height: 45px;
  }
  .breakingTitle {
    font-size: 12px;
    width: 10%;
  }

  .newsText {
    width: 70%;
    z-index: -2;
    white-space: nowrap;
    padding-right: 5px;
  }

  .time {
    font-size: 14px;
    z-index: -1;
    width: 20%;
  }

  .midHeader {
    height: auto;
    padding: 0 0 15px 0;
  }

  .midHeadercontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .logoAndHead {
    color: var(--color2);
    padding: 15px 15px;
    justify-content: end;
    gap: 25px;
  }

  .headTitle {
    font-size: 10px;
  }

  .title {
    font-size: 12px;
  }

  .head {
    display: flex;
    justify-self: start;
    flex-direction: column;
    gap: 8px;
  }
  .searchBarSection {
    margin-bottom: 15px;
  }
  .SearchBAr {
    width: 100%;
    margin: 0;
  }

  .bottomHeader {
    width: 90%;
    position: fixed;
    bottom: 10%;
    translate: 6%;
    color: var(--color3);
    display: none;
    justify-content: center;
    height: 51px;
    background-color: var(--background3);
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 1px 8px 4px #000;
  }

  .navbarlist {
    font-size: 25px;
  }

  .navbarlist li::before {
    color: var(--background1);
    border-bottom: 2px solid var(--background1);
    transition: 0.5 ease-in;
  }

  .navbarlist li:hover {
    border-bottom: 2px solid var(--background1);
  }

  .vlstickybottom {
    border-left: 3px solid var(--color2);
    height: 39px;
  }
}
