:root {
  --border-radius: 15px 15px 0px 0px;
}
body {
  font-family: 'Arabic', sans-serif;
  padding: 0px;
  margin: 0px;
  margin-top: 55px;
  overflow-x: hidden;
  text-align: right;
}
.ltr body {
  text-align: left;
}

.free {
  display: flex;
  min-width: min(300px, 80vw);
  min-height: min(300px, 50vh);
  max-width: min(80vw, 100%);
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}
.free a {
  border: 2px solid var(--background1);
  margin: 5%;
  border-radius: 10px;
  background: var(--background4);
}
.free img {
  margin: 5%;
  margin-bottom: 0;
  width: 90%;
  height: auto;
  background: #fff;
}
.free p {
  text-align: center;
  background: var(--background1x);
  color: var(--color1);
}
.free ins {
  margin: 0;
  max-width: 80vw;
  min-width: min(300px, 80vw);
  width: 100%;
  min-height: 250px;
  /*background-image: url('/theme1/images/ad.png');*/
  background-size: auto;
}
.free iframe {
  max-width: 80vw;
  min-height: 250px;
}
.free div {
  max-width: 80vw;
  min-height: 250px;
}
.free.top {
  height: 250px;
  min-height: 250px;
  width: 800px;
}
.free.side {
  min-height: max(250px, 70vh);
}
.searchIcon {
  border: none;
  background: none;
}

.pages-numbers {
  text-align: center;
  display: block;
  padding: 5px;
}
.page-number {
  text-align: center;
  border-radius: 5px;
  color: var(--color1);
  background: var(--background1);
  font-weight: bold;
  margin: 1px;
  font-size: 20px;
  padding: 5px;
  display: inline-block;
  min-width: 35px;
  transition: all 0.2s ease;
}
.page-number:hover {
  border-radius: 0px !important;
  color: var(--color2) !important;
  background: var(--background2) !important;
}
.articleSection {
  font-size: 24px;
  background-color: var(--background1x);
  color: var(--color1);
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
.articleSection h1 {
  font-size: xx-large;
  line-height: 2;
}
.mini-article {
  display: block;
  font-size: small;
  border: 1px solid #eee;
  margin-bottom: 5px;
  padding: 5px;
  width: 95%;
  background: var(--background1);
  color: var(--color1);
  border-radius: 5px;
  cursor: pointer;
}
.mini-article:hover {
  background: var(--background2);
  color: var(--color2);
}
.mini-article img {
  width: 64px;
  height: 64px;
  border-radius: 5px;
}
.yts-info {
  background: #2727278a;
  border-radius: 10px;
  margin: 5px;
  max-width: 100%;
}
.yts-info p {
  color: #ffffff;
  font-size: 18px;
}
.related-search,
.related-tags,
.related-ads {
  width: 96%;
  margin: 1%;
  padding: 1%;
  background: var(--background2);
  color: var(--color2);
  border-radius: 10px;
  font-size: xx-large;
  text-align: center;
}
.related-search a {
  margin: 5px;
  color: var(--color2);
  font-size: large;
}

.related-tags a {
  display: inline-block;
  margin: 5px;
  font-size: large;
  text-decoration: none;
  background: var(--background1);
  color: var(--color1);
  padding: 5px 9px;
  border-radius: 5px;
  cursor: pointer;
}
.related-tags a:hover,
.related-search a:hover {
  text-decoration: underline;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 95vw !important;
  }
}
.breakingNewsSection {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  border-radius: 25px;
  border: 3px solid var(--background1);
}
.breakingNewsSection > div:nth-child(2) {
  padding-top: 70px;
}
.mainSectionNews {
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 1px 1px 8px var(--background1);
  border-radius: 25px;
  background-repeat: round;
  background-position: top;
  background-size: cover;
  overflow: hidden;
}
p {
  margin: 0px;
  padding: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.primaryButton {
  width: 204px;
  height: 45px;
  background-color: var(--background2);
  color: var(--color1);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid var(--background2);
}

.primaryButton > a {
  color: var(--color1);
  text-decoration-line: none;
}

.primaryButton:hover {
  background-color: var(--background1);
}

.primaryButton > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.secondryButton {
  width: 204px;
  height: 45px;
  background-color: var(--background1);
  color: var(--color1);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.secondryButton > a {
  color: var(--color1);
  text-decoration-line: none;
}

.secondryButton:hover {
  background-color: var(--background2);
}

.secondryButton > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

/* start content section */
.newsSBLock {
  height: 300px;
  max-height: 300px;
}
.NewsBlock {
  gap: 16px;
  transition: all 0.2s ease;
}
.NewsBlock:hover {
  filter: drop-shadow(2px 4px 6px black);
}
.styleOne {
  width: 100%;
  height: auto;
}

.styleOne > .imageNews {
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
  background-size: auto;
  background-repeat: no-repeat;
}
.imageNews a {
  text-decoration: none;
  display: contents;
}

.imageNews img {
  object-fit: fill;
  border-radius: 15px;
  background-color: var(--background2x);
  border: 2px solid var(--background2);
  box-shadow: 1px 0px 8px var(--background2x);
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 296px;
}

.newsTilteTime {
  width: 100%;
  height: 100%;
  position: relative;
  top: -100%;
  color: var(--color1);
  padding-bottom: 2px;
  padding-left: 1px;
  padding-right: 1px;
  direction: rtl;
}

.newstitle {
  padding-left: 6px;
  width: auto;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 13px;
  font-weight: bold;
  padding: 5px;
  color: var(--color1);
  background: var(--background1xx);
  border-right: 5px solid var(--background2);
}

.newstime {
  gap: 3px;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 7px;
  color: #272727;
  background: #fff;
  border-radius: 0px 0 10px 0px;
}
.rtl .newsdate {
  direction: rtl;
}
.ltr .newsdate {
  direction: ltr;
}
.vlntime {
  border-left: 2px solid #ddd;
  height: 90%;
}

.newsTools {
  top: -300px;
  position: relative;
  opacity: 0.9;
}
.miniTitle {
  color: var(--color2);
  text-shadow: 1px 1px 1px var(--background1);
  font-size: var(--readTime);
  border-radius: 20px 20px 0px 0px;
  background: var(--background2x);
}
.readingTime {
  background-color: var(--background2);
  color: var(--color2);
  border-radius: 15px;
  font-size: var(--readTime);
}
.vlRtime {
  border-left: 2px solid var(--color2);
  height: 18px;
}

.audioFile {
  width: 36px;
  height: 36px;
  background-color: var(--background2);
  color: var(--color2);
  border-radius: 50px;
  cursor: pointer;
}
.videoFile {
  width: 36px;
  height: 36px;
  background-color: var(--background2);
  color: var(--color2);
  border-radius: 50px;
  cursor: pointer;
}
.gallaryImages {
  width: 36px;
  height: 36px;
  background-color: var(--background2);
  color: var(--icon-color);
  border-radius: 50px;
  cursor: pointer;
}

.gallaryImages:hover,
.videoFile:hover,
.audioFile:hover {
  background-color: var(--background1);
}

.moreDot:hover {
  cursor: pointer;
  color: var(--background1);
}

/* start album slider */
.showAnddisplay {
  display: flex !important;
}

.albumimageslider {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.678);
  z-index: 100;
}

.imageslider-slider-container {
  width: 1124px;
  height: 576px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.imageslider-slider-container::-webkit-scrollbar {
  display: none;
}

.imageslider-inner-slider {
  width: auto;
  display: flex;
  gap: 10px;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.cardimageslider {
  width: 1024px;
  height: 576px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: var(--fourth-color);
}
.cardimageslider > img {
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* end album slider */

/* start dot menu */
.articlessubmenu {
  display: block;
  width: 150px;
  position: relative;
  top: 0;
  z-index: 200;
}

.articlestimeItems {
  display: none;
}

.articlestimeItems > li {
  cursor: pointer;
}
.articlestimeItems > li:hover {
  background-color: var(--fourth-color);
}

/* end dot menu */

.styleTwo {
  width: 320px;
  height: 140px;
}

.styleTwo .ST-newsTilteTime {
  height: inherit;
  color: var(--dark-text-color);
  direction: rtl;
  padding-left: 20px;
  padding-right: 16px;
}

#styleTwo div .ST-newstitle {
  padding-left: 6px;
  width: 176px;
  height: auto;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.styleThree {
  width: 327px;
  height: auto;
}

.styleThree .STh-newsTilteTime {
  height: inherit;
  color: var(--dark-text-color);
  direction: rtl;
  padding-left: 20px;
  padding-right: 16px;
}

#styleThree div .STh-newstitle {
  padding-left: 6px;
  width: 327px;
  height: auto;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/*start slider*/

.mainslider {
  padding-top: 16px;
}

.mainslide {
  height: 70vh;
  margin-bottom: 10px !important;
  background-repeat: round;
  background-position: top;
  background-size: auto;
  background-color: var(--background1x);
  border-radius: 15px;
  border: 2px solid var(--background1);
  filter: drop-shadow(2px 4px 4px var(--background1));
  transition: all 1s ease-in-out;
}
.MS-newsTilteTime {
  width: 100%;
  height: inherit;
  color: var(--color1);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 76.04%);
  border-radius: 15px;
  direction: rtl;
  cursor: pointer;
}

.MS-newstitle {
  padding: 6px;
  width: fit-content;
  height: auto;
  position: relative;
  top: -75%;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: var(--color1);
  background: var(--background1x);
  border-right: 12px solid var(--background2);
}

.MS-newstime {
  position: relative;
  top: -70%;
  left: 10%;
  transform: translate(-50%, -50%);
  padding-bottom: 16px;
  gap: 3px;
  font-weight: bold;
  padding: 5px;
  color: #626262;
  background: #ffffff;
  border-right: 12px solid var(--background2);
  box-shadow: 1px 8px 10px #000;
  width: 20%;
  min-width: 225px;
}

.MS-slider-container {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  margin-top: -300px;
}

.MS-slider-container > ul {
  width: fit-content;
  overflow: hidden;
  display: flex;
  gap: 8px;
  margin-right: 8px;
  flex-direction: row-reverse;
  height: 300px;
  animation: bannermove 60s -60s infinite linear;
  direction: rtl;
  will-change: transform;
}

.MS-slider-container > ul:nth-child(2) {
  animation: bannermove2 60s -90s infinite linear;
}

.MS-slider-container .frist-slider {
  margin-left: 0px;
}

.second-slider {
  margin-top: -300px;
}

.MS-slider-container > ul > li {
  display: inline-block;
}

@keyframes bannermove {
  from {
    transform: translateX(-101.5%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes bannermove2 {
  from {
    transform: translateX(-101.5%);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-imageNews {
  z-index: 100;
}

.MS-card {
  width: 250px;
  height: 300px;
  box-shadow: 0px 0px 4px var(--background1);
  border-radius: 15px;
  background-color: var(--background1x);
  display: inline-block;
  font-size: 14px;
  transition: all 0.2s ease;
  border: 1px solid var(--background1);
}
.MS-card:hover {
  transform: scale(1.05);
}
.slide-newstime {
  gap: 3px;
  font-size: 14px;
}

.MS-card a {
  text-decoration-line: none;
  color: var(--color1);
  height: 100%;
  width: 100%;
}

.MS-card a img {
  border-radius: var(--border-radius);
  object-fit: fill;
  height: 100%;
  width: 100%;
  min-height: 296px;
}

.MS-card p {
  padding: 0 16px 8px 16px;
}

.slide-newsTilteTime {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 10%);
  margin-top: -45px;
}

.slide-newstitle {
  padding-right: 6px;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  -webkit-box-orient: vertical;
  direction: rtl;
}

/*end slider*/

/*start ads banner*/
.hAd {
  width: 100%;
  height: auto;
  padding-top: 16px;
}
.hAd img {
  border-radius: 15px;
}
/*end ads banner*/

/* start Breaking News */
.BNheadsection {
  width: inherit;
}

.BNSectionheader {
  width: 300px;
  height: 70px;
  background-color: var(--background1);
  color: var(--color1);
  font-size: 28px;
  padding: 0 24px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
}

.BNSubSection {
  width: 100%;
}

.BNSubSectionheader {
  min-width: 30%;
  height: auto;
  background-color: var(--background1);
  color: var(--color1);
  font-size: 28px;
  border-radius: 20px;
  transition: all 0.2s ease;
}
.BNSubSectionheader:hover {
  background-color: var(--background2);
  color: var(--color2);
}
.BNSubSectionheader p {
  text-align: center;
  width: 100%;
}
/* end Breaking News */

/* start mainsection*/

.headermainsection {
}

.headSectionName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: auto;
  height: 350px;
  background: var(--background1);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 00px 0px 50px 50px;
  margin-top: -20px !important;
  margin-right: 20px !important;
}

.headSectionName > p {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 2;
  display: flex;
  align-items: center;
  text-align: right;
  color: var(--color1);
  padding: 10px;
  max-width: 100%;
}

/* end mainsection*/

/* start article for head of editor */

.articlEditorheader {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  margin-bottom: 18px;
  background: var(--background1);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: var(--color1);
}

.articlEditor a {
  color: var(--background1);
}

.articlEditorheader > p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
  padding: 10px 0;
}
.articlEditorheader > p a {
  color: var(--color1);
}

.editorName {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 45px;
  color: var(--color1);
  direction: rtl;
}

.editorImage > img {
  border-radius: 15px;
  width: 90px;
  height: 90px;
}

.editorTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  color: var(--background1);
}

.follow {
  padding: 0 50px;
  width: 85px;
  height: 25px;
  background-color: var(--fourth-color);
  border-radius: 15px;
  cursor: pointer;
}

.follow:hover {
  color: var(--six-color);
  background-color: var(--background1);
  border-radius: 5px;
}

.share {
  padding: 0 50px;
  width: 85px;
  height: 25px;
  background-color: var(--fourth-color);
  border-radius: 15px;
  cursor: pointer;
}

.share:hover {
  color: var(--six-color);
  background-color: var(--background2);
  border-radius: 5px;
}

.sharemenu {
  display: none;
  z-index: 10;
}

.sharemenulist .facebook {
  color: rgb(67, 67, 243);
}

.sharemenulist .twitter {
  color: rgb(67, 187, 243);
}

.sharemenulist .instagram {
  color: rgb(143, 67, 243);
}

.sharemenulist .whatsapp {
  color: rgb(25, 172, 45);
}

.sharemenulist .facebook:hover {
  color: var(--color1);
  background-color: rgb(67, 67, 243);
}

.sharemenulist .twitter:hover {
  color: var(--color1);
  background-color: rgb(67, 187, 243);
}

.sharemenulist .instagram:hover {
  color: var(--color1);
  background-color: rgb(143, 67, 243);
}

.sharemenulist .whatsapp:hover {
  color: var(--color1);
  background-color: rgb(25, 172, 45);
}
/* end article for head of editor */

/* start survy , image album and videos */
.questionandanswer {
  height: auto;
  padding: 43px 28px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.question {
  direction: rtl;
}

.answer {
  display: flex;
}

.voteprogres {
  display: none;
}

/* end survy , image album and videos */

/* start image and video album */

.carousel-caption {
  color: var(--dark-text-color);
  background-color: var(--six-color);
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 18px;
}

/* end image and video album */

/* end content section */

@media (min-width: 1200px) {
  /* start breaking news */

  .leftAds,
  .rightAds {
    height: 50%;
    position: sticky;
    top: 50px;
  }

  /* end breaking news */
}
