/* start left sidebar */
.allSections{
    height: 50%;
    border: 2px solid var(--fourth-color);
    border-radius: 15px;
    position: sticky;
    top: 50px;
    z-index: 1;
}

.sections > ul > li  {
    text-align: center;
    width: 25vw;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--fourth-color);
}

.sections > ul > li > a {
    color: var(--primary-color);
}

.Sectionheader{
    width: 300px;
    height: 70px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 28px;
    padding: 0 24px;
    border-radius: 45px 0px 0px 45px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

}

.ad{
    width: 100%;
}

.imageNews{
    width: 364px;
    height: 300px;
    cursor: pointer;
}

/* end left sidebar */




@media (min-width: 768px) and (max-width: 1199px) { 

    .imageslider-slider-container {
        width: 80%;
        height: 85%;
        position: absolute;
        top: 75%;
        left: 50%;
    }

    .cardimageslider {
        width: 550px;
        height: 300px;
    }

 }

 @media (max-width: 767px) { 

    .imageNews{
        width: 320px;
    }
   
    .imageslider-slider-container {
        width: 80%;
        height: 85%;
        position: absolute;
        top: 75%;
        left: 50%;
    }

    .cardimageslider {
        width: 320px;
        height: 200px;
    }



 }