:root {
  --theme-color: #2196f3;
}

.row.businessarea {
  text-align: center;
}
.row.businessarea img {
  max-height: 50vh;
}
body{
    background-image: url('/images/businessarea.jpg');
    background-repeat: round;
    margin-top: 56px;
}