:root {
  --theme-color: #0a7468;
}

.row.businessarea {
  text-align: center;
}
.row.businessarea img {
  max-height: 50vh;
}
body{
    background-image: url('/images/businessarea.jpg');
    background-repeat: round;
    margin-top: 0;
    padding-top: 80px;
}
.top-header{
    min-height: 60vh;
}