:root {
  --float: right !important;
  --direction: rtl !important;
  --text-align: right !important;
  margin-right: 15px !important;
}

legend {
  float: right !important;
}
.underline-hover:hover {
  text-decoration: underline;
}
.hover-a:hover {
  color: #2087e7 !important;
  text-decoration-line: underline !important;
}
.form-label {
  direction: rtl;
  float: inline-start;
}
.right-content {
  text-align-last : right
}
.center-content{
  justify-content: center;
}