:root {
  --float: right !important;
  --direction: rtl !important;
  --text-align: right !important;
  margin-right: 15px !important;
}

legend {
  float: right !important;
}
.underline-hover:hover {
  text-decoration: underline;
}
.hover-a:hover {
  color: #2087e7 !important;
  text-decoration-line: underline !important;
}
.form-label {
  direction: rtl;
  float: inline-start;
}
.right-content {
  text-align-last: right;
}
.center-content {
  justify-content: center;
}
.tabs .tabs-content {
  width: 100% !important;
}
.linesView {
  -webkit-user-modify: read-write-plaintext-only;
}

.input-style textarea:focus {
  border-width: 2px;
}

.input-style input:focus {
  border-width: 2px;
}

.input-style input {
  color: black;
  border: solid 1px #1475cf;
  border-radius: 10px !important;
}

.input-style textarea {
  color: black;
  border: solid 1px #1475cf;
  border-radius: 10px !important;
}
.mainColor {
  color: #2087e7 !important;
}

.text-right {
  text-align-last: right !important;
}

.text-center {
  text-align-last: center !important;
}

.text-left {
  text-align-last: left !important;
}
.form-control {
  border: 1px solid #1475cf !important;
}

.selectAll {
  user-select: all
}
.cart {
  border: 3px solid #00856a;
  display: inline-block;
  width: 50vw !important;
  margin: 10px 0px 10px 0px !important;
  box-shadow: 2px 2px 5px 0px #00856a;
  background: white;
  padding: 25px;
  height: auto;
  border-radius: 10px;
}

.cart img {
  height: 33px;
  width: 45px;
  padding: 2px;
}

.darkGray {
  color: #707070 !important;
}
.img-logo {
  height: 28px;
  vertical-align: top;
}