:root {
  --float: right !important;
  --direction: rtl !important;
  --text-align: right !important;
  margin-right: 15px !important;
}

legend {
  float: right !important;
}

.form-label {
  direction: rtl;
  float: inline-start;
}