:root {
  --theme-color: #00A884;
}
.img__description {
  background : #2BB741 !important;
}

.post h2{
  background : #25D366 !important;
}

.post p {
  background : #25D366 !important;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');

:root {
    --direction: rtl;
    --text-align: right;
    --float: right;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
--theme-color: #00A884;
--theme-color2: #019777;
--font-family: 'Arabic', sans-serif;
--tabs-color: #fff;
--tabs-background-color: var(--theme-color);
--tabs-background-color2: var(--theme-color);
--tabs-header-width: 20%;
--tabs-content-width: 80%;
--tabs-header-link-font-size: 18px;
--tabs-header-link-font-weight: 700;
--tabs-header-link-color: #272727;
--tabs-header-link-color2: #ffffff;
--tabs-header-link-background: none;
--tabs-header-link-border: none;
--tabs-header-link-border-bottom: 1px solid var(--theme-color);
--tabs-header-link-radius: 0px;
--tab-animation-name: animateleft;
--tab-animation-duration: 1s;
--table-color: #030303;
--table-background-color: #ffffff;
--table-border: 1px solid #bbb;
--table-hover-background-color: #eee;
--table-th-color: #fff;
--direction: rtl;
--form-color: #000000;
--form-background-color: none;
--input-color: #0000ff;
--input-background-color: #ffffff;
--input-height: 35px;
--input-padding: 6px 12px;
--input-font-size: 14px;
--input-font-wight: normal;
--input-border-radius: 0px;
--input-border-width: 0 0 1px;
--input-border-color: rgba(211, 211, 211, 0.91);
--input-focus-border-width: 0 0 2px;
--input-focus-border-color: var(--theme-color);
--i-image-border: 2px dashed var(--theme-color);
--i-image-view-border: 2px solid var(--theme-color);
--btn-color: #000;
--btn-background: #ffffff;
--btn-box-shadow: none;
--btn-box-shadow-color: #272727;
--btn-border-radius: 5px;
--btn-border: 1px solid #ddd;
--btn-display: inline-block;
--btn-cursor: pointer;
--btn-min-width: 90px;
--btn-min-height: 36px;
--btn-font-weight: 400;
--btn-text-decoration: none;
--btn-text-align: center;
--btn-vertical-align: middle;
--btn-margin: 10px;
--btn-padding: 7px 9px;
--btn-font-size: 14px;
--btn-user-select: none;
--btn-add-color: #000;
--btn-add-background-color: #ffffff;
--btn-update-color: #000;
--btn-update-background-color: #ffffff;
--btn-save-color: #000;
--btn-save-background-color: #ffffff;
--btn-delete-color: #000;
--btn-delete-background-color: #ffffff;
--btn-view-color: #000;
--btn-view-background-color: #ffffff;
--btn-exit-color: #000;
--btn-exit-background-color: #ffffff;
--btn-search-color: #000;
--btn-search-background-color: #ffffff;
--btn-print-color: #000;
--btn-print-background-color: #ffffff;
--btn-export-color: #000000;
--btn-export-background-color: #ffffff;
--btn-sgin-color: #000000;
--btn-sgin-background-color: #ffffff;
--scrollbar-background-color: var(--theme-color);
--scrollbar-color: #ffeb3b;
--scrollbar-box-shadow-color: #4caf50;

}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 10px #ddd inset;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme-color2);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-color2);
}

.tag-list::-webkit-scrollbar {
    width: 40px;
    height: 10px;
}

a,span,button,p{
    font-family: var(--font-family);
    text-decoration: none;
}

.main-menu {
    margin: 0 auto;
    width: 100%;
    padding: 2px;
    text-align: center;
}

/*start main header*/

.secondeheader {
    z-index: 999999;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: #F1F1F1;
    height: 65px;
    display: grid;
    grid-template-columns: 10% 20% 40% 20% 10%;
    direction: rtl;
    padding-left: 3%;
}

.searcheaeder {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: var(--theme-color);
    padding-left: 30%;
}

.logo span {
    color: var(--theme-color2);
}

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--theme-color);
    margin: 10px 0px 10px 0px;
    border: none !important;
    border-radius: 0 !important;
}

.searchgroup {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 50% 10% 10% 20%;
}

.searchicon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 60%;
    padding-left: 18px;
    margin: 17% 50% 0 5px;
    border-left: 2px solid var(--theme-color);
}

input[type="search"] {
    display: flex;
    width: initial !important;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    margin: 0 5px 0px 0px;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]:focus-visible {
    outline-style: auto;
    outline-width: 0px;
}

input[type="search"]::placeholder {
    color: #bbb !important;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--theme-color);
    height: 43px;
    padding: 0;
    margin: 0;
    border-radius: 50px;
    border: 1px solid var(--theme-color);
    cursor: pointer;
}

.advanced-search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
    height: 43px;
    padding: 0;
    margin: 0;
    border-radius: 50px;
    border: 1px solid transparent;
    cursor: pointer;
}

.user{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.user-log {
    display: grid;
    grid-template-columns: 40% 80% ;
}

.user-menu {
    opacity: 1;
    position: fixed;
    width: auto;
    min-width: 300px;
    left: 336px;
    top: 67px;
    bottom: auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 0px 0px 7px 7px;
    overflow: hidden;
    display: none;
    box-shadow: 1px 1px 8px 0px #000;
}

nav .info {
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    float: left;
}

.info img {
    height: 32px;
    width: 32px;
    box-shadow: 1px 1px 5px 2px #fff;
}

.mobilesection-head{
    display: none;
}

.midfooter-mobile{
    display: none;
}

.footer_wrapper_mobile{
    display: none;
}

.midfoot-head{
    display: none;
}

i.close-menu{
    display: none;
}

i.close-filter{
    display: none;
}

.mobile-contact-follow{
    display: none;
}

.ds-dv{
    display: none;
}

.ds-dv-dc{
    display: block;
    cursor: pointer;
    color: var(--theme-color)
}

.mobile-filter {
    display: none;
}

.profile img {
    height: 70px;
    width: 70px;
    border: 2px solid #fbfbfb;
}

.userPrint {
    user-select: all;
}

.user-menu .link {
    background: var(--theme-color);
    color: #fff;
    display: block;
    cursor: pointer;
    padding: 15px;
    border-radius: 0px;
    text-align: center;
    margin: 10px;
}

.mobile-header{
    display: none;
}



.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    overflow: auto;
}

.modal-content {
    border: var(---modal-content-border);
    position: relative;
    color: black;
    background-color: white;
    margin: auto;
    padding: 0;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0 0px 0px 0 black, 0 0px 5px 0 black;
    /* -webkit-animation-name: var(--modal-animation-name);
    -webkit-animation-duration: var(--modal-animation-duration); */
    animation-name: var(--modal-animation-name);
    animation-duration: var(--modal-animation-duration);
}

.modal-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 8px 16px;
    background-color: var(--theme-color2);
    color: white;
}

.modal-header .close {
    color: rgb(254, 254, 254);
    float: right;
    font-size: 26px;
    margin-top: -10px;
    font-weight: bold;
    cursor: pointer;
}

.modal-header h2 {
    font-size: 16px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

span.text-icon {
    padding-left: 8px;
}

.modal-body {
    display: contents;
    padding: 2px 16px;
    color: black;
    overflow: overlay;
    max-height: 85vh;
}

form {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    color: black;
    /* background-color: white; */
}


legend {
    margin-top: -20px;
    padding: 2px 4px;
    color: var(--theme-color2);
    font-size: var(--legend-font-size);
    text-shadow: var(--legend-text-shadow);
    font-weight: var(--legend-font-weight);
    background: white;
    border: var(--legend-border);
    text-align: right;
}


.row .col3 {
    width: calc(3 / 12 * 100%);
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    float: var(--float);
    display: inline;
}

.control {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 10px;
}

.control input[type='text'],
.control input[type='email'],
.control input[type='number'],
.control input[type='password'],
.control input[type='file'],
.control input[type='date'],
.control input[type='datetime'],
.control input[type='datetime-local'],
.control textarea,
.control label,
.control select {
    display: block;
    width: 100%;
}

.control label {
    text-align: var(--label-text-align);
}

form label,
form span,
form p {
    color: black;
}

label {
    font-weight: var(--label-font-weight);
    /* color: black; */
    font-size: var(--label-font-size);
    margin: 5px;
    margin-bottom: 10px !important;
    word-break: break-all;
}

.control input[type='text'],
.control input[type='email'],
.control input[type='number'],
.control input[type='password'],
.control input[type='file'],
.control input[type='date'],
.control input[type='datetime'],
.control input[type='datetime-local'],
.control textarea,
.control label,
.control select {
    display: block;
    width: 100%;
}

.control textarea {
    /* display: block;
    width: 100%; */
    height: 100px;
}

input,
select,
textarea {
    width: inherit;
    text-align: var(--text-align);
    font-family: var(--font-family);
    height: var(--input-height);
    min-height: var(--input-height);
    line-height: var(--line-height);
    padding: var(--input-padding);
    font-size: var(--input-font-size);
    font-weight: var(--input-font-wight);
    color: var(--theme-color2);
    background-color: white;
    background-image: none;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-radius: var(--input-border-radius);
    border-width: 0 0 2px 0;
    border-color: var(--input-border-color);
    border-style: solid;
    outline: none;
    scrollbar-arrow-color: var(--input-color);
    -ms-scrollbar-arrow-color: var(--input-color);
}

.row .col2 {
    width: calc(2 / 12 * 100%);
}

textarea {
    overflow-x: hidden;
}

.error {
    text-align: center;
    color: red;
}

.fa-search:before {
    content: "\f002";
}

/*end main header*/

.main-menu {
    opacity: 1;
    position: fixed;
    width: auto;
    right: 0px;
    top: 89px;
    bottom: 33px;
    overflow: auto;
    padding: 0px;
    text-align: center;
    /* border: 3px solid #eee; */
    background: #fff;
    border-radius: 0px 0px 0px 0px;
    transition: all 0.5s ease;
}

.toggle {
    opacity: 1;
    position: fixed;
    width: auto;
    bottom: -2px;
    overflow: auto;
    padding: 0px;
    text-align: center;
    border: 3px solid #eee;
    background: #fff;
    border-radius: 0px 0px 0px 0px;
    transition: all 0.5s ease;
    text-align: left;
}

.toggle a i.fa-bars {
    padding: 10px;
    font-size: 24px;
}

.user-tabs {
    width: 85% !important;
    float: left;
}


.main-menu.menu-show {
    opacity: 1;
}

.main-menu.menu-show .tab-link span {
    display: inline-block;
}

.inline.title.toggle.menu-show {
    width: 279px;
}

.main-menu .tab-link span {
    display: none;
}

.links .tabs2 {
    display: none;
    transition: all 0.5s ease;
}

.tabs2 {
    display: inline-block;
    padding: 5px;
    width: 100%;
    transition: all 0.5s ease;
}

.all-section {
    transform: translate(256px, 0px);
}

.links .tabs2 .tabs2-header {
    width: 100%;
}

.tabs2 .tabs2-header {
    padding: 1px;
    width: var(--tabs-header-width);
    margin: 0px;
    display: inline-block;
    float: var(--float);
    overflow: hidden;
    background: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip {
    position: static !important;
}

.tabs2 .tabs2-header .tab-link:hover {
    border-radius: 10px;
}

.tabs2 .tabs2-header .tab-link:hover {
    background-color: var(--tabs-background-color2);
    color: var(--tabs-header-link-color2);
}

.tab-link span {
    padding: 0 15px;
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    right: 0px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.main-menu .tabs2-header .tab-link {
    color: #000;
    /* border-radius: 0px !important; */
}


.tabs2 {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "tabs-header tabs-content tabs-content tabs-content";
    padding: 5px;
    width: 100%;
    transition: all 0.5s ease;
}

.tabs2 .tabs2-header {
    padding: 1px;
    width: 100%;
    margin: 0px;
    display: inline-block;
    float: var(--float);
    overflow: hidden;
    background: none;
}

.tabs2 .tabs2-header .tab-link.active {
    border-radius: 10px;
}

.tabs2 .tabs2-header .tab-link.active {
    background-color: var(--tabs-background-color);
    color: var(--tabs-color);
}

.tabs2 .tabs2-header .tab-link {
    border-radius: var(--tabs-header-link-radius);
    background: var(--tabs-header-link-background);
    border: var(--tabs-header-link-border);
    border-bottom: var(--tabs-header-link-border-bottom);
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
    font-size: var(--tabs-header-link-font-size);
    font-weight: var(--tabs-header-link-font-weight);
    color: var(--tabs-header-link-color);
    margin: 10px;
    display: block;
    text-decoration: none;
}

.tabs2 .tabs2-content .tab-content {
    display: none;
    padding: 6px 12px;
    width: 100%;
    overflow: visible;
    -webkit-animation-name: var( --tab-animation-name);
    -webkit-animation-duration: var( --tab-animation-duration);
    animation-name: var( --tab-animation-name);
    animation-duration: var( --tab-animation-duration);
}

fieldset {
    margin: 15px;
    padding: 0 5px 5px;
    border: 1px solid var(--theme-color);
    border-radius: 8px;
    box-shadow: 0 0 3px #b8abff;
    padding-top: 5px;
}

fieldset > legend {
    margin-top: -20px;
    background-color: white;
}

.row, .row10 {
    display: inline-block;
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}

.table.center {
    text-align: center !important;
}

.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    border: var(--table-border);
    padding: 5px;
    background-color: var(--table-background-color);
    color: var(--table-color);
    direction: var(--direction);
    float: var(--float);
}

.center, .center p, .center span, .center label, .center b, .center i, .center img {
    margin: 0 auto !important;
    text-align: center !important;
}

.bold {
    font-weight: bold;
}

.loaded {
    visibility: collapse;
}

* {
    box-sizing: border-box;
    margin: 0px;
    line-height: var(--line-height);
    min-height: 1px;
    text-align: var(--text-align);
    direction: var(--direction);
    max-width: 100%;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.table.center * {
    text-align: center !important;
}

.table tr {
    border-bottom: var(--table-border);
    transition: all 0.3s ease;
}

.table td {
    padding: 2px;
}

.table td {
    border: var(--table-border);
    padding: 5px;
    vertical-align: middle;
    min-width: 100px;
}

.blue {
    color: #3f51b5 !important;
}

.logo {
    border-radius: 5px;
    color: var(--theme-color);
    padding: 0 !important;
}

form {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    color: var(--form-color);
    background-color: var(--form-background-color);
}



.table input {
    font-size: 13px !important;
}

input[type='file'] {
    padding: 3px;
}

.hidden {
    display: none !important;
}

input, select, textarea {
    width: inherit;
    text-align: var(--text-align);
    font-family: var(--font-family);
    height: var(--input-height);
    min-height: var(--input-height);
    line-height: var(--line-height);
    padding: var(--input-padding);
    font-size: var(--input-font-size);
    font-weight: var(--input-font-wight);
    color: var(--input-color);
    background-color: var(--input-background-color);
    background-image: none;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-radius: var(--input-border-radius);
    border-width: var(--input-border-width);
    border-color: var(--input-border-color);
    border-style: solid;
    outline: none;
    scrollbar-arrow-color: var(--input-color);
    -ms-scrollbar-arrow-color: var(--input-color);
}

i-image[view] img {
    border: var(--i-image-view-border);
}
i-image.logo img {
    width: 48px;
    height: 48px;
}
.center, .center p, .center span, .center label, .center b, .center i, .center img {
    margin: 0 auto !important;
    text-align: center !important;
}
.bg-white {
    background-color: white !important;
}
i-image img {
    padding: 3px;
    border-color: #5b60ff;
}
i-image img {
    padding: 3px;
}
i-image img {
    width: 200px;
    height: 200px;
    border: var(--i-image-border);
    padding: 5px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
}
img {
    padding: 3px;
}

progress {
    height: 5px;
    background-color: #000;
    color: blue;
}

.btn.update, .btn.edit {
    color: var(--btn-update-color);
    background-color: var(--btn-update-background-color);
}
.btn {
    user-select: var(--btn-user-select);
    text-decoration: var(--btn-text-decoration);
    text-align: var(--btn-text-align);
    vertical-align: var(--btn-vertical-align);
    margin: var(--btn-margin);
    padding: var(--btn-padding);
    font-size: var(--btn-font-size);
    color: var(--btn-color);
    border: var(--btn-border);
    border-radius: var(--btn-border-radius);
    background: var(--btn-background);
    box-shadow: var(--btn-box-shadow);
    -moz-box-shadow: var(--btn-box-shadow);
    -webkit-box-shadow: var(--btn-box-shadow);
    display: var(--btn-display);
    cursor: var(--btn-cursor);
    min-width: var(--btn-min-width);
    min-height: var(--btn-min-height);
    font-weight: var(--btn-font-weight);
}

.btn.default {
    min-width: 0px;
    min-height: 0px;
    padding: 7px;
    font-size: 12px;
    box-shadow: none;
}

.btn .add{
    width: 25% !important;
    padding: 10px !important; 
}

.left {
    float: left !important;
}

/**start create ad css**/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
--theme-color: #00A884;
--theme-color2: #019777;
--font-family: 'Arabic', sans-serif;
}

a,span,button,p{
    font-family: var(--font-family);
    text-decoration: none;
}

.singleContent {
    margin-top: 3% !important;
    margin-bottom: 3% !important;
}

.addPost {
    background: #f9f9f9;
    border-radius: 3%;
    padding: 3%;
}

.singleContent h1 {
    font-size: 5em;
    color: #919191;
}

div#adAddModal svg {
    color: var(--theme-color2);
}
.singleContent h3 {
    display: block;
    font-size: 1.9em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #919191;
}

.listContFor2Items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 98px;
    border-bottom: 1px dotted #ddd;
    position: relative;
    padding-right: 50px;
}

.listContFor2Items .left, .listContFor2Items .right {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
    font-size: 1.4em;
    color: var(--theme-color2);
}

.svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.listContFor2Items .icon {
    right: 0;
    position: absolute;
    padding-left: 10px;
    vertical-align: middle;
}

.svg-inline--fa.fa-fw {
    width: 1.25em;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}

.fa-2x {
    font-size: 2.4em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -0.125em;
    color: white;
}

.adScene {
    max-width: 1350px;
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 0 15px;
}

.bodyContent{
    line-height: 1.42857;
    color: #919191;
    font-weight: 400;
    font-style: normal;
}

.addPost input:not([type=radio]):not([type=checkbox]), .addPost select {
    width: 80%;
    margin: 0.5rem;
    max-width: 600px;
}
input[type=file] {
    display: none;
}

button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

input[type="file" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.image-uploader-item {
    height: 150px;
    width: 150px;
}
.image-uploader-item {
    border: 2px solid #ccc;
    justify-content: center;
    border-radius: 3px;
    margin-left: 10px;
    position: relative;
    display: flex;
    border-color: var(--theme-color2);
    color: var(--theme-color2);
    cursor: pointer;
    margin-top: 10px;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
.image-uploader-btn-text {
    padding: 5px;
}

.image-uploader-btn {
    box-shadow: none;
    cursor: pointer;
    color: #ccc;
    height: auto;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.button, button, input[type=button], input[type=reset], input[type=submit], select {
    cursor: pointer;
    background-color: #fff;
    border: 0.05rem solid #ccc;
    border-radius: 4px;
    color: #737171;
    height: 34px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    line-height: inherit;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}

.req_text {
    display: block;
    margin-right: 10px;
}
small {
    font-size: 16px;
}

input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text] {
    background-color: #fff;
    border: 0.05rem solid #ccc;
    margin: 5px;
    border-radius: 4px;
    color: #616161;
    height: 34px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    line-height: inherit;
    -webkit-box-shadow: -2px 4px 9px 1px rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
    box-shadow: -2px 4px 9px 1pxrgba(0,0,0,.16),0 0 0 1pxrgba(0,0,0,.08);
    -webkit-transition: -webkit-box-shadow .2s cubic-bezier(.4,0,.2,1);
    transition: -webkit-box-shadow .2s cubic-bezier(.4,0,.2,1);
    -o-transition: box-shadow .2s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .2s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .2s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .2s cubic-bezier(.4,0,.2,1);
}

button, input {
    overflow: visible;
}

input[type="text" i] {
    padding: 1px 2px;
}

.tag_selection_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#postingLevel1Off {
    width: 80%;
    margin: 0.5rem;
    max-width: 600px;
    border: 0.05rem solid #ccc;
    border-radius: 4px;
    color: #737171;
    height: 34px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    box-sizing: border-box;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}

#bodyTEXT {
    color: #a7a7a7;
}
textarea {
    border: 0.1rem solid #ccc;
    border-radius: 4px;
    width: 80%;
    height: auto;
}
label, textarea {
    color: #454444;
}
textarea {
    padding: 10px;
}
textarea {
    overflow: auto;
}
#sixthScene label {
    color: #616161 !important;
    font-weight: 700;
    margin: 0 0 10px;
    display: inline-block;
    
}

#siventhScene .addPost {
    background: #f9f9f9;
    border-radius: 25px;
    padding: 3%;
}

.btn-info, .btn-primary, button.btn-info, button.btn-primary, input.btn-info, input.btn-primary {
    color: var(--theme-color2);
    background-color: #fff;
    border-color: var(--theme-color2);
    -webkit-box-shadow: 0 -2px hsl(0deg 0% 100% / 10%) inset, 0 -3px rgb(0 0 0 / 10%) inset, 0 1px rgb(0 0 0 / 5%);
    box-shadow: inset 0 -2px hsl(0deg 0% 100% / 10%), inset 0 -3px rgb(0 0 0 / 10%), 0 1px rgb(0 0 0 / 5%);
}

.mt-1 {
    margin-top: 1em;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    height: 45px;
}
#secondScene.adScene {
    max-width: 1416px;
}

.mapView {
    max-height: 70%;
    height: 70vh;
}

.pad {
    color: var(--theme-color2);
}
/**start create ad css**/

/** start display-ad**/

.postWrapper, .tagWrapper {
    display: grid;
    min-height: 100vh;
}

.postWrapper {
    grid-area: contentWrapper;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    grid-template-areas:
        "postMain postMain postMain postMain"
        "postSide postSide postSide postSide";
}

.container, .postWrapper, .singleContentGrid, .singlePage, .tagWrapper {
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 0 15px;
}

.postMain {
    grid-area: postMain;
}

.postWrapper .postMain .backButton {
    background-color: #f2f4fa;
    margin-bottom: 20px;
    color: var(--theme-color2);
}

.btn-link {
    color: var(--theme-color);
    box-shadow: none;
    border-color: transparent;
}

.postWrapper .postMain .details .post_header {
    width: 100%;
    border-radius: 23px 23px 0 0;
    display: flex;
    box-sizing: border-box;
    padding: 5px;
}

.postWrapper .postMain .details {
    background-color: #fff;
    border-radius: 23px;
    border: 1px solid #e4e7f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 60vh;
    box-sizing: border-box;
    position: relative;
}

.postWrapper .postMain .details .post_header .post_header_wrapper {
    border-radius: 23px;
    padding: 0 10px 10px;
    flex: 1;
    background-color: #fffaed;
}

.postWrapper .postMain .details .post_header .post_header_wrapper h1 {
    /* font-size: 1.2em; */
    padding-top: 1rem;
    color: var(--theme-color2);
}

.postWrapper .postMain .details .post_header .post_header_wrapper .post_header_meta {
    display: flex;
    margin-top: 30px;
}

.postWrapper .postMain .details .post_header .post_header_wrapper .post_header_meta>div {
    flex: 6;
    display: flex;
    flex-direction: column;
}

.postWrapper .postMain .details .post_body {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
    white-space: pre-wrap;
    color: #525762;
    font-size: 20px;
}

.postWrapper .postMain .details .post_body article {
    margin: 20px 0;
    width: 100%;
}

user agent stylesheet
article {
    display: block;
}

.postWrapper .postMain .details .post_body .img_wrapper {
    max-width: 100%;
    align-self: center;
    margin-top: 10px;
    height: auto;
    position: relative;
}

.postWrapper .postMain .details .post_body img {
    max-width: 100%;
    align-self: center;
    height: auto;
}

.img_wrapper img {
    border-style: none;
    vertical-align: middle;
}

.postWrapper .postMain .details .post_body .post_extra_info {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postWrapper .postMain .details .post_body .post_extra_info .contact {
    display: inline-flex;
    align-items: center;
    padding: 9px;
    border-radius: 15px;
    min-width: 100px;
}

.AGAbw {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 5px 0px;
    height: 40px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: var(--theme-color2);
    color: rgb(255, 255, 255);
    border: none;
}

.postWrapper .postMain .bottom_meta_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.postWrapper .postMain .bottom_meta_wrapper .post_id_wrapper {
    padding: 20px;
    background-color: #aeddd2;
    border-radius: 15px;
    color: var(--theme-color3);
}

.postWrapper .postMain .actions_wrapper .action_btn {
    border: 1px solid #f2f4fa;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #8f95a3;
    padding: 10px 15px;
    position: relative;
    text-align: center;
    min-width: 125px;
    white-space: pre-wrap;
    cursor: pointer;
}

.postWrapper .postMain .actions_wrapper button {
    height: auto;
}
.btn-borderless {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}

.postWrapper .postMain .actions_wrapper .action_btn>:first-child {
    margin-left: 5px;
}

.postWrapper .postMain .tags_wrapper {
    width: 100%;
    background: #fff;
    padding: 20px 30px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.postWrapper .postMain .tags_wrapper a, .postWrapper .postMain .tags_wrapper a:visited {
    background-color: #f8faff;
    padding: 9px 13px;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 5px;
    color: #8f95a3;
    text-decoration: none;
}

.random-help-message {
    margin: 15px 0;
    border-radius: 15px;
    padding: 10px 20px;
    background: #edf6ff;
    border: 1px solid var(--theme-color2);
    color: var(--theme-color2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.random-help-message .icon_wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    padding: 5px;
}

.icon_wrapper {
    background-color: #e6f4ff;
    color: var(--theme-color2);
}
.icon_wrapper, .main_loading_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_wrapper {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    align-self: center;
    font-size: 20px;
}

.random-help-message .icon_wrapper .icon {
    font-size: 20px;
    color: var(--theme-color2);
}

.postWrapper .postMain .comment_list_wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 150px;
    box-sizing: border-box;
}

.postWrapper .postMain .comment_list_wrapper .comment_wrapper {
    border: 2px solid #e4e7f5;
    margin: 5px 0;
    background-color: #fff;
    border-radius: 15px;
    box-sizing: border-box;
}

.postWrapper .postMain .comment_list_wrapper .comment_wrapper .comment_meta {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid #e4e7f5;
    padding: 15px;
    box-sizing: border-box;
    font-size: .8rem;
}

.postWrapper .postMain .comment_list_wrapper .comment_wrapper .comment_meta .main_meta {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.postWrapper .postMain .comment_list_wrapper .comment_wrapper .comment_meta .main_meta .def_username {
    background-color: #a9bdd5;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.postWrapper .postMain .comment_list_wrapper .comment_wrapper .comment_meta .main_meta .username_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    white-space: nowrap;
    margin: 0 10px;
}

.postWrapper .postMain .comment_list_wrapper .comment_wrapper .comment_meta .main_meta .username_wrapper>:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.postWrapper .postMain .comment_list_wrapper .comment_wrapper .comment_meta .main_meta .comment_time {
    font-size: .7rem;
    margin-top: 5px;
}

.postWrapper .postMain .comment_list_wrapper .comment_wrapper .comment_meta .main_meta .username_wrapper>:first-child>:first-child {
    margin-left: 10px;
}

.icon_wrapper_com.clickable {
    cursor: pointer;
}
.icon_wrapper_com {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postWrapper .postMain .comment_list_wrapper .comment_wrapper .comment_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    font-size: 1.2rem;
    color: #000;
}

.postWrapper .postMain .comment_list_wrapper .comment_wrapper .options_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.options_wrapper {
    display: flex;
    flex: 1;
    align-items: baseline;
}

.postWrapper .postMain .comment_list_wrapper .comment_wrapper .options_wrapper .reply_btn {
    border-radius: 15px;
}

.postWrapper .postMain .comment_list_wrapper .comment_wrapper .options_wrapper .reply_btn :first-child {
    margin-left: 3px;
}

.postWrapper .postMain .comment_list_wrapper .comment_wrapper .options_wrapper .comment_option_wrapper, .postWrapper .postMain .comment_list_wrapper .comment_wrapper .options_wrapper .comment_option_wrapper .more_btn {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.postWrapper .postMain .comment_list_wrapper .comment_wrapper .options_wrapper .comment_option_wrapper, .postWrapper .postMain .comment_list_wrapper .comment_wrapper .options_wrapper .comment_option_wrapper .more_btn {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-borderless {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}

.postWrapper .postMain .follow_btn_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
    box-sizing: border-box;
    align-items: center;
}

.postWrapper .postMain .blue_btn {
    background-color: var(--theme-color2);
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 40px;
    margin-left: 10px;
    border: none;
    box-shadow: none;
}

.postWrapper .postMain .add_comment_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 15px 0;
    box-sizing: border-box;
}

.postWrapper .postMain .blue_btn>:first-child {
    margin-left: 10px;
}

.postWrapper .postMain .add_comment_wrapper textarea {
    width: 100%;
    min-height: 200px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #e4e7f5;
    box-sizing: border-box;
    resize: none;
    margin-bottom: 15px;
}

.postWrapper .postMain .add_comment_wrapper .btn_msg_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.postWrapper .postMain .add_comment_wrapper .btn_msg_wrapper .blue_btn {
    padding: 10px 30px;
}
.postWrapper .postMain .blue_btn {
    background-color: var(--theme-color2);
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 40px;
    margin-left: 10px;
    border: none;
    box-shadow: none;
}

.postWrapper .postMain .blue_btn>:first-child {
    margin-left: 10px;
}

.postSide {
    grid-area: postSide;
}

.SimilarPosts {
    min-width: 300px;
    max-width: 100%;
}

.SimilarPosts .heading {
    font-size: 20px;
    font-weight: 600;
    margin: 23px 0;
    color: var(--theme-color2);
}

.SimilarPosts__box:last-of-type {
    margin-bottom: 0;
}
.Box_unique121 {
    padding: 15px;
    background: #fff;
    border-radius: 23px;
}
.SimilarPosts__box {
    margin-bottom: 23px;
}

.Badge_123.lg {
    height: 40px;
    font-size: 14px;
    padding: 0 25px;
}

.Badge_123 {
    color: var(--theme-color3);
    border-radius: 21px;
    align-items: center;
    display: inline-flex;
    background: #aeddd2;
}
.SimilarPosts__badge {
    margin-bottom: 18px;
}

.SimilarPosts__thumbs {
    margin: 0;
    padding: 0;
    display: grid;
    overflow: hidden;
    list-style-type: none;
    border-radius: 0 0 18px 18px;
    grid-template-columns: repeat(3,1fr);
}

.SimilarPosts__thumbs li {
    margin: 1px;
}
ul li {
    margin-top: 0.8rem;
}

.postWrapper .postMain .actions_wrapper {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    color: #8f95a3;
    flex-wrap: wrap;
}

.postWrapper .postMain .actions_wrapper .action_btn:hover {
    background-color: #bee5dc;
}

.post_header_meta div span svg {
    color: var(--theme-color3);
}

.actions_wrapper svg {
    color: var(--theme-color3);
}

.bottom_meta_wrapper svg {
    color: var(--theme-color3);
}

a, span, button, p {
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--theme-color3);
}

button.reply_btn svg {
    color: var(--theme-color3);
}

.blue_btn span {
    color: white;
}

span.icon_wrapper_com.clickable svg {
    color: var(--theme-color3);
}

div#ad {
    margin-top: 4%;
}

button.backButton svg {
    color: var(--theme-color3);
}

@media screen and (min-width: 1480px){
.container, .postWrapper, .singleContentGrid, .singlePage, .tagWrapper {
    max-width: 1350px;
}
}

@media screen and (min-width: 1200px){
.container, .postWrapper, .singleContentGrid, .singlePage, .tagWrapper {
    max-width: 1170px;
}
}
@media (min-width: 950px){
    .postWrapper {
        grid-template-areas: "postMain postMain postMain postSide";
    }
}

@media (min-width: 768px){

    .postWrapper .postMain .backButton {
    margin: 20px 0;
}

    .postWrapper .postMain .details .post_header .post_header_wrapper {
        padding: 0 30px 30px;
    }

    .postWrapper .postMain .details .post_body {
        padding: 30px;
    }

    .random-help-message {
        margin-left: 0;
        margin-right: 0;
    }
}

/** end display-ad**/