:root {
  --float: right !important;
  --direction: rtl !important;
  --text-align: right !important;
  margin-right: 15px !important;
}

legend {
  float: right !important;
}
.underline-hover:hover {
  text-decoration: underline;
}
.hover-a:hover {
  color: #2087e7 !important;
  text-decoration-line: underline !important;
}
.form-label {
  direction: rtl;
  float: inline-start;
}
.right-content {
  text-align-last: right;
}
.center-content {
  justify-content: center;
}
.tabs .tabs-content {
  width: 100% !important;
}

.linesView {
  -webkit-user-modify: read-write-plaintext-only;
}

.input-style textarea:focus {
  border-width: 2px;
}

.input-style input:focus {
  border-width: 2px;
}

.input-style input {
  color: black;
  border: solid 1px #1475cf;
  border-radius: 10px !important;
}

.input-style textarea {
  color: black;
  border: solid 1px #1475cf;
  border-radius: 10px !important;
}

.text-right {
  text-align-last: right !important;
}

.text-center {
  text-align-last: center !important;
}

.text-left {
  text-align-last: left !important;
}

.form-control {
  border: 1px solid #1475cf !important;
}
.selectAll {
  user-select: all;
}

.character-style {
  background: #e3e3e3;
  text-align: center;
  border-radius: 50%;
  font-size: xxx-large;
}

.card {
  border: 1px solid #2087e7;
  display: inline-block;
  width: 25% !important;
  margin: 10px 10px 10px 10px !important;
  background: #ffffff;
  padding: 25px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 1px 2px 3px 2px #2087e7;
  div {
    width: 50%;
    float: left;
  }
}

.card img {
  width: 45%;
  height: 100%;
  float: right;
  padding: 2px;
  border-radius: 0px 10px 10px 0px;
}

.bg-aliceblue {
  color: aliceblue;
}

.card-name {
  font-size: 21px;
  float: left;
  font-family: system-ui;
  font-weight: bold;
}

.card-number {
  color: #2087e7;
  font-size: 20px;
}
.mainColor {
  color: #2087e7 !important;
}

.card-title {
  color: #959595;
  font-size: 20px;
  display: inline-block;
  width: 60%;
  vertical-align: text-top;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-menu {
  max-width: 350px !important;
}
.buy-btn {
  border: 3px solid #0075e3;
  margin: 15px -5px 20px 0px;
  text-align-last: center;
  background: #2087e7;
  color: white;
  border-radius: 5px;
  font-size: x-large;
}

.buy-btn:hover {

  background: #1475cf;
 
}

.purchase-text {
  background: #2087e7;
  color: white;
  text-align: center;
  font-size: x-large;
  padding: inherit;
  margin: revert;
  white-space: pre;
}

.gray-bg {
  background-color: #ececec !important;
}

.scrollx-menu {
  padding: 10px !important;
  overflow-x: auto;
  flex-direction: column-reverse;
  height: 37vw !important;
  scrollbar-color: #2087e7 #e7e7e7;
}
