.userad-logo {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: -5px 10px -5px 0px !important
}
.min-hight-100 {
  min-height: 100vh;
}
.store-name-stlye,
.user-name-stlye {
  color: green;
  font-size: large;
}
.ellipsis-txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tagheader {
  margin-top: 20px;

}
.contact-button {
  padding: 7px 20px 7px 20px;
  margin: 0px 20px 4px 1px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid green;
  color: #fbfbfb;
  background: #009373c4;
}
.contact-button:hover {
  border: 3px solid green;
  background: #009373;
  padding: 6px 20px 6px 20px;
}

.fms_title {
  font-size: 1.1em;
  color: #929aaa;
}

.user-menu {
  border-radius: 10px !important;
}
.lang-btn {
  border: 1px solid #00322b;
  border-radius: 5px;
  background: #009469;
  color: white;
  padding: 5px;
  margin: 5px;
}
.logout-btn {
  border: 1px solid gray;
  background: #545454 !important;
  color: white !important;
  font-size: larger;
  width: 55%;
  padding: 3px !important;
  border-radius: 5px !important;
}
.logout-btn:hover {
  background: #a80000 !important;
}
.move-category {
  margin-top: 50px;
  color: #00a884;
}
.btn-style a {
  color: black;
  background-color: white;
  display: flex;
  margin: 5px;
  flex-direction: row-reverse;
  align-items: center;
  padding: 5px 10px;
  border: 2px solid var(--theme-color2) !important;
  border-radius: 10px !important;
  justify-content: center;
}

.scroll-headmsg::-webkit-scrollbar-thumb {
  background-color: rgb(0 168 132);
}

.scroll-headmsg::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  box-shadow: 0 0 10px #ddd inset;
  border-radius: 20px;
}

.user-name-stlye:hover {
  text-decoration: underline;
}

tr:nth-child(even) {
  background-color: #ebfaf6;
}
.dimgrey {
  color: dimgrey;
}
.adarea-image img {
  max-width: 90% !important;
  border-radius: unset;
  height: 180px !important;
}
.usermenu-btn {
  border: 1px solid #006d56;
  padding: 4px;
  border-radius: 10px;
  width: 70%;
  background: #ececec;
  display: block;
  text-align: center;
}
.usermenu-btn:hover {
  border: 3px solid #006d56;
  padding: 2px;
  background: #dcedec;
}
.underline-hover:hover {
  text-decoration: underline;
}
.is-invalid{
  border: 1px solid red !important;
}
.margin-left-5 {
  margin-left: 5px;
}

.info img {
  height: 45px !important;
  width: 45px !important;
}

.user-menu {
  left: 20px !important;
}

.radius13 {
  border-radius: 13px;
}

.radius-textarea textarea {
  border-radius: 13px;
}

img {
  border-radius: 10px;
}

.input-style textarea {
  color: black;
  border: solid 1px #00a884;
  border-radius: 10px !important;
}

.save-money {
  background: red;
  margin: 5px;
  color: white;
  padding: 1px 7px 1px 7px;
  border-radius: 13px;
  display: inline-block;
}

.line-through {
  text-decoration: line-through;
}
.close-fa {
  font-size: 23px;
  margin: 6px;
  color: #8e8e8e;
  cursor: pointer;
}

.send-btn {
  padding: 7px 20px 7px 20px;
    margin: 0px 20px 4px 1px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #00802d;
    color: #fbfbfb;
    background: #019e7c;
}
.send-btn:hover {
  background: #00765c;
  border: 3px solid #00802d;

}

.category-selected {
  background: #70e5ce;
  border-radius: 13px;
}

.input-style textarea:focus {
  border-width: 2px;
}

.input-style input:focus {
  border-width: 2px;

}

.input-style input {
  color: black;
  border: solid 1px #00a884;
  border-radius: 10px !important;
}

.dropdown-content {
  border-radius: 13px;
}


@media screen and (max-width: 1007px) {
  .firstheader {
    display: none;
  }

  .scroll-headmsg {
    max-height: 33vh;
    overflow: hidden;
    overflow-y: auto;
  }

  .border-img {
    border-radius: 5px !important;
  }

  .secondeheader {
    background-color: #f1f1f1;
    height: auto;
    display: grid;
    grid-template-columns: 30% 60% 10%;
    direction: rtl;
  }

  .thirdheader {
    direction: ltr;
  }

  .searcheaeder {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: var(--theme-color);
    padding-left: 0;
    width: auto !important;
    height: auto !important;
    border-radius: 0 !important;
  }

  i.burger-icon {
    display: block;
  }

  .searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--theme-color);
    margin: 10px 0px 10px 0px;
    border: 1px solid currentColor;
    border-radius: 50px;
    height: 40px;
  }

  .searchgroup {
    width: 100%;
    display: grid;
    grid-template-columns: 19% 60% 24%;
    align-items: center;
  }

  .searchicon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 60%;
    padding-left: 18px;
    margin: 10% 50% 0 5px;
    border-left: 2px solid var(--theme-color);
  }

  input[type='search'] {
    display: flex;
    width: initial !important;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    margin: 0 5px 0px 0px;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }

  input[type='search']:focus-visible {
    outline-style: auto;
    outline-width: 0px;
  }

  input[type='search']::placeholder {
    color: #bbb !important;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--theme-color);
    height: 43px;
    padding: 0;
    margin: 0;
    border-radius: 50px;
    border: 1px solid var(--theme-color);
    cursor: pointer;
  }

  .advanced-search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
    height: 43px;
    padding: 0;
    margin: 0;
    border-radius: 50px;
    border: 1px solid transparent;
    cursor: pointer;
  }

  .mobile-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
  }

  .cart {
    display: flex;
    margin-top: 50px;
  }

  .login {
    display: flex;
    font-size: 16px;
    color: var(--theme-color);
    font-weight: bolder;
    align-items: center;
    text-decoration: none;
    justify-content: center;
  }

  .login a {
    margin-right: 5px;
    color: var(--theme-color);
  }

  .logo span {
    display: none;
  }

  .register {
    display: flex;
    font-size: 16px;
    color: var(--theme-color2);
    font-weight: bolder;
    align-items: center;
    text-decoration: none;
    justify-content: center;
  }

  .register a {
    margin-right: 5px;
    color: var(--theme-color);
  }

  .user {
    display: none;
    background-color: #f1f1f1;
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 999;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .user-log {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .user-menu {
    width: auto;
    min-width: 100%;
    padding: 0px 15px;
    text-align: center;
    display: none;
  }

  .profile img {
    height: 70px;
    width: 70px;
    border: 2px solid #fbfbfb;
  }

  .userPrint {
    user-select: all;
  }

  #bord_edit:hover {
    background-color: rgb(245, 245, 245) !important;
  }

  .user-menu .link {
    background: var(--theme-color);
    color: #fff;
    display: block;
    cursor: pointer;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    margin: 0px 10px;
  }

  i.close-menu {
    display: block;
    margin: 20px;
  }

  .midfooter {
    background-color: #f8f7f7;
    padding: 25px 0 25px 0;
    display: grid;
    /*grid-template-columns: 10% 80% 10%;*/
  }

  .mobilesection-head {
    display: flex;
    width: 100%;
    height: 5%;
    background-color: #d8d8d8;
    align-content: center;
    align-items: center;
    padding-right: 10px;
    font-size: 20px;
    margin: 10px 0;
  }

  .contact-follow {
    display: none;
  }

  .mobile-contact-follow {
    display: block;
  }

  i.social-icon {
    color: var(--theme-color);
    font-size: 20px;
  }

  .follow-group {
    display: flex;
    justify-content: center;
  }

  .follow {
    text-align: center;
    width: 50%;
  }

  .follow a {
    font-size: 24px;
  }

  .follow ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }

  .contact {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 15px 0px;
  }

  .contact ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
  }

  li.phone-support {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  li.email-support {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  hr.cf-mobile {
    margin: 10px 25px;
  }

  .cf-title {
    text-align: center;
    font-size: 24px;
  }

  i.contact-icon {
    color: var(--theme-color);
    font-size: 20px;
  }

  .mid-icon {
    color: var(--theme-color);
  }

  .ul-no-bullets {
    padding: 0;
    list-style-type: none;
  }

  .mid {
    display: block;
    padding-right: 35px;
  }

  .mid ul li {
    display: flex;
    align-content: center;
    align-items: center;
    padding-bottom: 2px;
  }

  .mid ul li a {
    color: var(--theme-color);
    font-weight: 400;
    font-size: 18px;
    padding-right: 15px;
    text-decoration-line: none;
  }

  a.link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  i.fa-globe {
    padding-left: 5px;
  }

  .footer_wrapper_mobile {
    text-align: center;
    background-color: #2d2d2d !important;
    bottom: 0;
    width: 100%;
  }

  .footer_wrapper {
    width: 100%;
  }

  .open-menu {
    display: block;
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }

  .user-side-header {
    display: none;
  }

  .addads {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f1f1f1;
    padding: 15px 0;
    width: 100%;
    position: fixed;
    bottom: 0%;
    z-index: 998;
  }

  .add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    background-color: var(--theme-color);
    width: 90px;
    height: 40px;
    padding: 0;
    border-radius: 50px;
    border: 1px solid var(--theme-color);
    font-size: 18px;
  }

  a.add-icon-ads {
    display: flex !important;
  }

  .add-button a {
    display: none;
  }

  .mobile-header a {
    position: relative;
    text-decoration-line: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #979797;
  }

  .mobile-header a:hover {
    color: var(--theme-color);
  }

  .mobile-header a:active {
    color: var(--theme-color);
  }

  li.mobile-header {
    list-style-type: none;
  }

  .notification .badge-mobile {
    position: absolute;
    top: -9px;
    right: 3px;
    font-size: 11px;
    border-radius: 100%;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .notification {
    display: none;
  }

  .middleElements.footer-app-download {
    display: none;
  }

  /* ::-webkit-scrollbar {
          width: 40px;
          height: 5px;
      }
  
      ::-webkit-scrollbar-track {
          background-color: #f6f6f6;
          box-shadow: 0 0 10px #ddd inset;
          border-radius: 20px;
      }
  
      ::-webkit-scrollbar-thumb {
          background-color: var(--theme-color2);
          border-radius: 20px;
      }
  
      ::-webkit-scrollbar-thumb:hover {
          background-color: var(--theme-color2);
      } */

  .tag-list::-webkit-scrollbar {
    width: 40px;
    height: 5px;
  }

  .tag-list::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 10px #ddd inset;
    border-radius: 20px;
  }

  .tag-list::-webkit-scrollbar-thumb {
    background-color: var(--theme-color2);
    border-radius: 20px;
  }

  .tag-list::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-color2);
  }

  .sub-category::-webkit-scrollbar {
    width: 40px;
    height: 5px;
  }

  .sub-category::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 10px #ddd inset;
    border-radius: 20px;
  }

  .sub-category::-webkit-scrollbar-thumb {
    background-color: var(--theme-color2);
    border-radius: 20px;
  }

  .sub-category::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-color2);
  }

  .tag-link:first-child {
    justify-content: space-between;
  }

  .sub-category::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  .tags {
    margin: 0 10px;
    display: flex;
    justify-content: flex-end;
  }

  .tag {
    flex: 1;
    text-align: center;
    border-radius: 5px;
    margin: 0 0 0 3px;
  }

  .tag a {
    padding: 10px;
    display: block;
    text-decoration: none;
  }

  .tag span {
    display: block;
    font-size: 16px;
    color: var(--theme-color);
  }

  .tab_link {
    text-align: center;
    font-size: 1rem;
    white-space: nowrap;
  }

  .tag-list:first-child {
    justify-content: space-between;
  }

  .tag-list {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: auto;
    text-align: right;
    max-width: 1010px;
    flex-direction: row-reverse;
  }

  .green {
    direction: rtl;
    display: block;
    padding-top: 15px;
    padding-right: 15px;
  }

  fieldset {
    margin: 15px 15px 15px 15px;
    padding: 0 5px 5px;
    border: 1px solid var(--theme-color2);
    border-radius: 8px;
    box-shadow: 0 0 3px #b8abff;
    padding-top: 5px;
  }

  .modal {
    display: none;
    position: fixed;
    width: 100%;
  }

  .subfooter {
    text-align: center;
    background-color: #333;
    padding: 10px;
    margin-bottom: 81px;
  }

  .souq-data {
    color: white;
    padding: 5px 10px 5px 10px;
  }

  .souq-data p {
    direction: ltr;
  }

  .souq-data a {
    color: #919191;
  }

  .mid-mobile {
    display: grid;
    direction: rtl;
  }

  .footer-links svg {
    color: #aaa;
  }

  .modal-content {
    border: var(---modal-content-border);
    position: fixed;
    left: 0%;
    color: black;
    background-color: white;
    margin: auto;
    padding: 0;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0px 0px 0 black, 0 0px 5px 0 black;
    /* -webkit-animation-name: var(--modal-animation-name);
          -webkit-animation-duration: var(--modal-animation-duration); */
    animation-name: var(--modal-animation-name);
    animation-duration: var(--modal-animation-duration);
  }

  .modal-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 8px 16px;
    background-color: var(--theme-color2);
    color: white;
  }

  .modal-header .close {
    color: rgb(254, 254, 254);
    float: right;
    font-size: 26px;
    margin-top: -10px;
    font-weight: bold;
    cursor: pointer;
  }

  .modal-header h2 {
    font-size: 16px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .modal-body {
    display: contents;
    padding: 2px 16px;
    color: black;
    overflow: overlay;
    max-height: 85vh;
  }

  form {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    color: black;
    /* background-color: white; */
  }

  .error {
    text-align: center;
    color: red;
  }

  .fa-search:before {
    content: '\f002';
  }

  .modal-footer {
    padding: 7px 16px;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }



  i-button.ng-isolate-scope {
    padding: 0px;
    border-radius: 25px;
    width: 80%;
    font-size: 12px;
  }

  .form-filed {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: end;
  }

  .control {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 5px;
  }

  .form-filed-mobile {
    display: flex !important;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: end;
    flex-direction: row-reverse;
    padding-bottom: 15px;
  }

  i-store.store-padding {
    padding-right: 15px;
  }

  input,
  select,
  textarea {
    width: inherit;
    text-align: var(--text-align);
    height: var(--input-height);
    min-height: var(--input-height);
    line-height: var(--line-height);
    padding: var(--input-padding);
    font-size: var(--input-font-size);
    font-weight: var(--input-font-wight);
    color: var(--theme-color2);
    background-color: white;
    background-image: none;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-radius: var(--input-border-radius);
    border-width: 0 0 2px 0;
    border-color: var(--input-border-color);
    border-style: solid;
    outline: none;
    scrollbar-arrow-color: var(--input-color);
    -ms-scrollbar-arrow-color: var(--input-color);
  }

  .control input .control input[type='text'],
  .control input[type='email'],
  .control input[type='number'],
  .control input[type='password'],
  .control input[type='file'],
  .control input[type='date'],
  .control input[type='datetime'],
  .control input[type='datetime-local'],
  .control textarea,
  .control label,
  .control select {
    display: block;
    width: 100%;
    text-align: end;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 313px;
    width: 45%;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    max-height: 50vh;
    padding: 0px;
    scroll-behavior: auto;
    overflow: auto;
    border: 1px solid var(--theme-color2);
  }

  .countre {
    position: absolute;
    top: 141px !important;
  }

  .governorate {
    position: absolute;
    top: 211px !important;
  }

  .city {
    position: absolute;
    top: 271px !important;
  }

  .zone {
    position: absolute;
    top: 329px !important;
  }

  .full-width {
    background-color: white !important;
    border-radius: 0px !important;
    height: 36px;
  }

  legend {
    border-radius: 5px !important;
    margin-top: -20px;
    padding: 2px 10px !important;
    color: var(--theme-color2);
    font-size: var(--legend-font-size);
    text-shadow: var(--legend-text-shadow);
    font-weight: var(--legend-font-weight);
    background: white;
    border: var(--legend-border);
    text-align: right;
  }

  .btn.clear {
    display: flex;
    background: var(--theme-color2);
    padding: 5px 10px;
    border: 2px solid var(--theme-color2) !important;
    border-radius: 10px !important;
    justify-content: center;
  }

  .btn.close {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5px 10px;
    border: 2px solid var(--theme-color2) !important;
    border-radius: 10px !important;
    justify-content: center;
  }



  .btn.search {
    color: black;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row-reverse;
    border-radius: 10px !important;
    padding: 5px 10px;
    border: 2px solid var(--theme-color2) !important;
    height: 32px;
  }

  .btn.save {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color: white;
    background: var(--theme-color2);
    padding: 5px 10px;
    border: 2px solid var(--theme-color2) !important;
    border-radius: 10px !important;
    justify-content: center;
  }

  .center,
  .center p,
  .center span,
  .center label,
  .center b,
  .center i,
  .center img {
    margin: 0 auto !important;
    text-align: center !important;
  }

  .dropdown-content-user {
    display: block;
    position: absolute;
    top: 83px;
    left: 208px;
    width: 45%;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    max-height: 50vh;
    padding: 0px;
    scroll-behavior: auto;
    overflow: auto;
    border: 1px solid var(--theme-color2);
  }

  .dropdown-content-store {
    display: block;
    position: absolute;
    top: 83px;
    left: 208px;
    width: 45%;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    max-height: 50vh;
    padding: 0px;
    scroll-behavior: auto;
    overflow: auto;
    border: 1px solid var(--theme-color2);
  }

  .content {
    /* padding: 0 15px; */
    display: block;
    min-height: 100vh;
    direction: rtl;
  }

  .tagSide {
    background-color: white;
    max-width: calc(100vw - 30px);
    padding: 10px;
    grid-area: tagSide;
    width: 70%;
    height: 90vh;
    position: fixed;
    top: 0%;
    right: 100%;
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }

  .close-filter {
    display: block;
    margin: 20px;
  }

  .open-filter {
    transform: translateX(100%) !important;
  }

  .sideSearchHistory {
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    text-overflow: ellipsis;
  }

  .smallText {
    display: flex;
    justify-content: center;
    font-size: 0.7em;
    color: #919191;
  }

  #sideBar_card {
    margin: 0;
    justify-content: flex-start;
    height: 84vh;
    overflow-y: auto;
  }

  .ojwev .caret {
    border-width: 4px;
    border-style: solid;
    border-color: rgb(58, 92, 131) transparent transparent;
    border-image: initial;
    margin-top: 4px;
  }

  .iGsYXQ {
    width: 100%;
    /* border-bottom: 1px solid rgb(202, 208, 222); */
    background-color: rgb(255, 255, 255);
    padding-bottom: 3px;
    box-sizing: border-box;
    color: var(--theme-color);
  }

  .bdSIGk {
    height: 50px;
    width: 100%;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
  }

  .YBCfw {
    overflow-y: hidden;
    max-height: 10000px;
    transition: all 0.15s ease-out 0s;
  }

  .checkbox-button {
    display: none;
  }

  #tags-filter {
    display: block !important;
  }

  #xtags-filter {
    display: none;
    max-height: 1000px;
    overflow-y: visible;
    transition: all 0.15s ease-out 0s;
  }

  .tag-filters-extra {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .feaUnB {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 5px 0px;
  }

  .bSWGIJ {
    display: block;
    width: 100%;
    color: rgb(4, 115, 192);
    font-weight: normal;
  }

  .bpYvLN {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
  }

  .bpYvLN>* {
    flex: 1 1 0%;
  }

  .checkbox-button input {
    display: none;
    -webkit-appearance: none;
  }

  [type='checkbox'],
  [type='radio'] {
    box-sizing: border-box;
    padding: 0;
  }

  .checkbox-button input+label {
    height: 50px;
    min-width: 50px;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-weight: 400;
    overflow: hidden;
    margin-bottom: 0;
    text-align: center;
    position: relative;
    border-radius: 5px;
    background: #929aaa;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
  }

  .brand-logos {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }

  .brand-logos--svg {
    border: 1px solid #f3f3f3;
    padding: 3px;
    color: #a1a1a1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    height: 65px;
    width: 65px;
    font-weight: 500;
    text-decoration: none;
    box-sizing: border-box;
  }

  .brand-logos--svg [class^='svg-inline--fa'],
  .brand-logos--svg img,
  .brand-logos--svg svg {
    width: 60px;
    height: 60px;
  }

  .brand-logos .imgasicon {
    transition: all 0.3s;
  }

  .tagMain {
    grid-area: tagMain;
    padding: 0;
  }

  input.hidden {
    display: none;
  }

  .ads-area {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .ad-name {
    display: flex !important;
    flex-direction: column;
    padding: 0 !important;
    font-size: 19px;
    color: var(--theme-color);
  }

  p.ad-owner {
    display: flex;
    color: #919191;
    font-size: 13px;
    align-items: center;
    padding: 5px 0;
  }

  p.store-name {
    display: flex;
    font-size: 13px;
  }

  p.ad-price {
    display: flex;
    padding: 0px !important;
    font-size: 13px;
  }

  i-button .btn {
    /*  background-color: var(--theme-color);
    color: #fff; */
    padding: 8px 8px;
    border-radius: 25px;
  }

  .user-action {
    color: #919191;
    font-size: 13px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 5px 0 !important;
  }

  .u-action {
    display: flex;
    /* margin: 15px 0 0 0; */
  }

  form.ad-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .ad-image {
    display: flex;
    justify-content: center;
  }

  .ads-image {
    width: 75%;
  }

  .ads-info {
    width: 100%;
  }

  .bg-white {
    display: flex;
    width: 100px;
  }

  .ads-section {
    margin: 0 0 10% 0 !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 8px !important;
    box-shadow: none !important;
    padding-top: 5px !important;
  }

  .ad-area {
    display: block;
    width: auto;
    grid-template-columns: 30% 70%;
    justify-items: start;
    padding-bottom: 5%;
  }

  i.fa.fa-square {
    border: solid 2px var(--theme-color);
    color: #fff;
  }

  i.fa.fa-check {
    border: solid 2px var(--theme-color);
    color: #fff;
    background-color: var(--theme-color);
  }

  svg.svg-inline--fa.fa-times-circle.fa-w-16 {
    width: 16px;
    padding-left: 2px;
  }

  svg.svg-inline--fa.fa-search.fa-w-16 {
    width: 25px;
  }

  .sideSearchHistory {
    display: none;
  }

  .tag_select_wrapper {
    display: none;
  }

  .mobile-hr {
    display: none;
  }

  .action-map {
    display: none;
  }

  .notif-name {
    opacity: 0;
  }

  .map svg path {
    fill: #00a884 !important;
    stroke: #ffffff !important;
    stroke-width: 0.25 !important;
  }

  .map svg path:hover,
  path:active {
    fill: #025f4b !important;
    stroke-width: 0.75 !important;
    transition: 0.6s !important;
    cursor: pointer !important;
  }

  .map {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000000db;
    z-index: 10000;
  }

  .movemab {
    position: fixed;
    width: 100%;
  }

  svg#Layer_1 {
    width: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20vh);
  }

  .side-header:hover {
    width: auto;
    transition: all 0.3s ease 0s;
  }

  .clickmap {
    top: 439px !important;
    height: 60px !important;
    margin: 15px 0;
  }

  .clickmap span {
    color: white !important;
  }

  .clickmap i {
    color: white !important;
  }

  .side-header {
    list-style-type: none;
    background-color: var(--theme-color);
    position: fixed;
    width: 39px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 6px;
    z-index: 100006;
    top: 178px;
    border-radius: 0 25px 25px 0;
    box-shadow: 10px 10px 10px #00000025;
    transition: all 0.3s ease 0s;
  }

  .side-header-map {
    width: auto !important;
  }

  .show-notif-name {
    opacity: 100 !important;
  }

  #kuwit path {
    fill: #008d71 !important;
  }

  #oman path {
    fill: #054136 !important;
  }

  #uae path {
    fill: #002923 !important;
  }

  #qatar path {
    fill: #000e0c !important;
  }

  #bahran path {
    fill: #08443b !important;
  }

  #yeman path {
    fill: gray !important;
    cursor: default !important;
    stroke-width: initial !important;
  }

  #jordan path {
    fill: #002923 !important;
  }

  #iraq path {
    fill: #007d6b !important;
  }

  .tabuk {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(85px, 234px);
  }

  .madinah {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(181px, 424px);
  }

  .makkah {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(259px, 569px);
  }

  .baha {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(296px, 644px);
  }

  .asir {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(326px, 688px);
  }

  .jazan {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(397px, 797px) rotate(249deg);
  }

  .najran {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(474px, 734px);
  }

  .eastern {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(679px, 542px);
  }

  .northern {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(307px, 170px);
  }

  .jouf {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(148px, 144px);
  }

  .hail {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(275px, 255px);
  }

  .qassim {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(346px, 374px) rotate(327deg);
  }

  .riyadh {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(450px, 487px);
  }

  .kuwit {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(593px, 171px) rotate(307deg);
  }

  .oman {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(1037px, 561px);
  }

  .uae {
    fill: white;
    pointer-events: none;
    font-size: x-large;
    transform: translate(888px, 469px);
  }

  .qatar {
    fill: white;
    /* pointer-events: none; */
    font-size: x-large;
    transform: translate(807px, 364px);
  }

  .bahran {
    fill: white;
   /*  pointer-events: none; */
    font-size: x-large;
    transform: translate(767px, 313px);
  }

  .yeman {
    fill: #ffffff;
    pointer-events: none;
    font-size: x-large;
    transform: translate(604px, 875px);
  }

  .jordan {
    fill: #ffffff;
    pointer-events: none;
    font-size: x-large;
    transform: translate(56px, 92px);
  }

  .iraq {
    fill: #ffffff;
    pointer-events: none;
    font-size: x-large;
    transform: translate(384px, -63px);
  }

  #palmtree {
    width: 10px;
  }

  #palmtree.riyadh {
    transform: translate(-126px, 544px);
  }

  #palmtree.qassim {
    transform: translate(-180px, 482px);
  }

  #palmtree.hail {
    transform: translate(-211px, 399px);
  }

  #palmtree.jouf {
    transform: translate(-274px, 327px);
  }

  #palmtree.northern {
    transform: translate(-113px, 394px);
  }

  #palmtree.eastern {
    transform: translate(59px, 526px);
  }

  #palmtree.najran {
    transform: translate(-41px, 706px);
  }

  #palmtree.jazan {
    transform: translate(-115px, 760px);
  }

  #palmtree.asir {
    transform: translate(-88px, 685px);
  }

  #palmtree.baha {
    transform: translate(-133px, 656px);
  }

  #palmtree.makkah {
    transform: translate(-111px, 606px);
  }

  #palmtree.madinah {
    transform: translate(-177px, 514px);
  }

  #palmtree.tabuk {
    transform: translate(-176px, 428px);
  }

  svg#Layer_1 {
    width: 90%;
    height: 106vh;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 32px);
  }

  .hiddemap {
    display: none !important;
  }

  .tagheader {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
  }

  .category-1,
  .category-2,
  .category-3,
  .category-4 {
    align-items: center;
    flex-wrap: nowrap;
    list-style-type: none;
    /* margin: 0; */
    padding: 0;
    width: 95%;
    overflow-x: overlay;
    text-align: right;
    max-width: 1010px;
  }

  .category-list1,
  .category-list2,
  .category-list3,
  .category-list4 {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow-x: auto;
    max-width: 916px;
    flex-direction: row-reverse;
    cursor: pointer;
    border: none;
    height: auto;
    align-items: center;
  }

  .sub-category {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow-x: auto;
    max-width: 916px;
    flex-direction: row-reverse;
    cursor: pointer;
    height: auto;
    align-items: center;
  }

  .category-list1:first-child {
    justify-content: space-between;
  }

  .category-list2:first-child {
    justify-content: space-between;
  }

  .category-list3:first-child {
    justify-content: space-between;
  }

  .category-list4:first-child {
    justify-content: space-between;
  }

  button.tag-link {
    text-align: center;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--theme-color);
    padding: 0 15px;
    padding: 0 10px;
    background-color: white;
    border: solid 1px #00a884;
    margin: 4px !important;
    height: auto;
    border-radius: 5px;
  }

  .single:hover {
    text-align: center;
    font-size: 1rem;
    white-space: nowrap;
    color: white;
    border: solid 1px #00a884;
    background-color: var(--theme-color);
    margin: 4px !important;
    height: auto;
    border-radius: 5px;
  }

  .single:focus {
    text-align: center;
    font-size: 1rem;
    white-space: nowrap;
    color: white;
    border: solid 1px #00a884;
    background-color: var(--theme-color);
    margin: 4px !important;
    height: auto;
    border-radius: 5px;
  }

  .all-category {
    direction: ltr;
  }


  b.black {
    padding: 5px;
  }

  .ds-dv-dc {
    display: none !important;
  }

  .ds-dv {
    cursor: pointer;
  }

  .time-publish {
    display: flex;
    color: #919191;
    font-size: 13px;
    align-items: center;
  }

  .ad-location {
    display: flex;
    color: #919191;
    font-size: 13px;
    align-items: center;
  }

  .info {
    display: block;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
  }

  .even {
    background-color: #f7fbfa;
  }
}