@media screen and (max-width: 480px) {
  ._scroll100 {
    max-height: none !important;
  }
  
  .margin-info-menu {
    margin-top: -30px !important;
  }
  
  .add-button {
    width: auto;
  }
  i-radio {
    margin: 10px !important;
  }
  .footer {
    margin-bottom: 50px;
  }

  .secondeheader {
    background-color: #f1f1f1;
    height: auto;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    direction: rtl;
  }

  .online-badge {
    margin-top: -23px !important;
    margin-right: 56% !important;
  }

  .logo img {
    width: 32px;
    height: 32px;
  }

  .scroll-headmsg {
    max-width: 90vw !important;
  }

  .ad-name {
    display: block !important;
    font-size: 17px !important;
  }

  .adarea-image {
    width: 85% !important;
    border-radius: unset;
    height: 75px !important;
  }

  nav .info {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .move-category-margin {
    margin-left: -10px;
  }

  .usermenu-btn {
    border: 1px solid #006d56;
    padding: 4px;
    border-radius: 10px;
    background: #ffffff;
    display: block;
    max-width: 90%;
  }

  .font-map {
    font-size: xx-large !important;
  }

  .margin-left-move {
    margin-left: 3px !important;
  }

  .open-menu {
    display: block;
    position: relative;
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
    width: max-content;
  }

  .level-1 {
    width: 94%;
  }
}