@media screen and (max-width: 480px) {
  ._scroll100 {
    max-height: none !important;
  }

  .margin-info-menu {
    margin-top: -30px !important;
  }

  .add-button {
    width: auto;
  }

  i-radio {
    margin: 10px !important;
  }

  .footer {
    margin-bottom: 50px;
  }

.clock-area span {
}

.clock-area { 
  display: inline-block;
}

.clock-area img {
  position: inherit;
}

.border-bottom-bar {
  border-bottom: 3px solid #fff;
}

  .secondeheader {
    background-color: #f1f1f1;
    height: auto;
    display: grid;
    grid-template-columns: 27% 50% 23%;
    direction: rtl;
  }
.not-mobile {
  display: none;
}
  .side-badge {
    position: absolute;
    bottom: 7px;
    left: 11px;
    font-size: x-small;
    color: white;
    border: solid red;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    height: 18px;
    width: 18px;
  }

  .page-nav a {
    font-size: 17px;
  }

  .haraj_name {
    font-family: fantasy;
    position: relative;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    bottom: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 70px #00ab08;
  }

  .haraj_logo {
    height: 60px;
    border-radius: 5px;
    vertical-align: text-bottom;
  }

  .online-badge {
    margin-top: -23px !important;
    margin-right: 56% !important;
  }

  .logo img {
    width: 60px;
    height: 50px;
    margin: 5px !important;
  }

  .scroll-headmsg {
    max-width: 90vw !important;
  }

  .ad-name {
    display: block !important;
    font-size: 17px !important;
  }

  .adarea-image {
    width: 85% !important;
    border-radius: unset;
    height: 75px !important;
  }

  nav .info {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .move-category-margin {
    margin-left: -10px;
  }

  .usermenu-btn {
    border: 1px solid #006d56;
    padding: 4px;
    border-radius: 10px;
    background: #ffffff;
    display: block;
    max-width: 90%;
  }

  .font-map {
    font-size: xx-large !important;
  }

  .margin-left-move {
    margin-left: 3px !important;
  }

  .open-menu {
    display: block;
    position: relative;
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
    width: max-content;
  }

  .level-1 {
    width: 94%;
  }
}