* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --theme-color: #00a884;
  --theme-color2: #019777;
  --font-family: 'Arabic', sans-serif;
}
.font-26 {
  font-size: 26px !important;
}
.font-27 {
  font-size: 27px !important;
}
.font-28 {
  font-size: 28px !important;
}
.font-29 {
  font-size: 29px !important;
}
.font-30 {
  font-size: 30px !important;
}

img {
  max-width: initial;
}
.pre_text {
  white-space: pre;
}
:root {
  --theme-color: #00a884 !important;
  --theme-color2: #019777 !important;
  --font-family: 'Arabic', sans-serif;
}
.img__description {
  background: #2bb741 !important;
}

.post h2 {
  background: #25d366 !important;
}

.post p {
  background: #25d366 !important;
}

fieldset {
  border: 1px solid #019777 !important;
}

i-image img:hover {
  box-shadow: 0 0 2px 1px #019777 !important;
}
.haraj_logo {
  height: 60px;
  border-radius: 5px;
}
.haraj_name {
  padding-left: 10px;
}
.loaded {
  display: none;
}
.hidden {
  display: none;
}
body {
  background-color: #bbb;
  background-image: url(/assets/palm.svg);
  background-repeat: repeat;
}
header,
footer {
  filter: drop-shadow(2px 4px 6px black) !important;
}
.tagSide {
  border-radius: 10px;
  height: fit-content;
  background-color: #fff;
}
.main-content {
  background-color: #fff;
}
.main-content i-checkbox {
  display: inline-flex;
}
a,
span,
button,
p {
  font-family: var(--font-family);
  text-decoration: none;
}
.ad-area img {
  max-width: 90%;
  height: 200px;
}

.border-img img {
  border-radius: 5px !important;
}
