* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --theme-color: #009688;
  --theme-color2: #019777;
  --font-family: 'Arabic', sans-serif;
}

.bg-theme {
  background: var(--theme-color);
}

svg#Layer_1 {
  width: 100% !important;
}

.user-side-header {
  direction: ltr;
}
.padding-register {
  padding-right: 40px;
}
.padding-lang {
  padding-right: 10px;
}
.time {
  left: 50px;
  color: black;
  font-family: fantasy;
  font-size: larger;
  bottom: 0px;
  position: absolute;
}

.border-bottom-ad {
  border-bottom: 2px solid #00766b;
}

.login-button {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
  border: 2px solid #4caf50;
}

.login-button:hover {
  padding: 9px;
  cursor: pointer;
  background: aliceblue;
  font-size: 16px;
  border: 3px solid #4caf50;
}

.dimgray {
  color: dimgray;
}

.ad-code {
  font-size: 23px;
  color: #6b6b6b;
  margin: 25px 10px 12px 13px !important;
}

.clock {
  position: relative;
  bottom: 16px;
  left: 111px;
}

.img-clock {
  height: 293px;
}

.img-style img {
  border-radius: 13px;
  border: solid;
  border-color: #009688;
  min-width: 256px;
}

.ad-code-text {
  border: 1px solid #cecece;
  padding: 10px;
  background: #e6e6e6;
  border-radius: 17px;
  font-family: cursive;
}

.ellipsis-txt {
  white-space: nowrap;
  margin-right: 5px !important;
  overflow: hidden;
  margin-left: 7px !important;
  text-overflow: ellipsis;
}

.ar .ellipsis-txt {
  margin-right: 7px !important;
}

.create-btn {
  position: fixed;
  bottom: 8%;
  border-radius: 45px;
  right: -15px;
  background: #009688;
  color: #fff !important;
  padding: 10px 20px;
  z-index: 99999999;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 1px 1px 10px 0px #000;
}

.create-btn:hover {
  transform: scale(1.2);
}

.create-btn > span {
  margin-right: 10px;
}

.create-btn > i {
  margin-right: 10px;
}

.more-btn {
  background: #006d56;
  color: white;
  padding: 7px 9px;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
  min-width: 200px;
  border: 1px solid #000;
  transition: all 0.2s ease;
  cursor: pointer;
}

.more-btn:hover {
  transform: scale(1.1);
}

img.more-loading {
  width: 128px;
  height: 128px;
}

i-checkbox .selector.un-selected {
  border-radius: 10px;
}

i-checkbox .selector.selected {
  border-radius: 10px;
}

i-country img {
  width: 40px;
  height: 27px;
  border-radius: 0px;
  display: inline-block;
}

i-country span {
  vertical-align: top;
  padding: 10px;
  font-size: 17px;
}

.info img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 2px #fff;
  margin: -5px 10px -5px 0px !important;
}

.files {
  border: 2px solid var(--modal-header-background-color);
}

.color-theme {
  color: #009688;
}

.border-radius5 {
  border-radius: 5px;
}

.margin5 {
  margin: 5px !important;
}

.pointer {
  cursor: pointer;
}

.font-17 {
  font-size: 17px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-19 {
  font-size: 19px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-21 {
  font-size: 21px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-23 {
  font-size: 23px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-25 {
  font-size: 25px !important;
}

.font-26 {
  font-size: 26px !important;
}

.font-27 {
  font-size: 27px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-29 {
  font-size: 29px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-31 {
  font-size: 31px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-33 {
  font-size: 33px !important;
}

.font-34 {
  font-size: 34px !important;
}

.font-35 {
  font-size: 35px !important;
}

img {
  max-width: initial;
}

.pre_text {
  white-space: pre-wrap !important;
}

:root {
  --theme-color: #009688 !important;
  --theme-color2: #019777 !important;
  --font-family: 'Arabic', sans-serif;
}

.img__description {
  background: #2bb741 !important;
}

.post h2 {
  background: #25d366 !important;
}

.post p {
  background: #25d366 !important;
}

fieldset {
  border: 1px solid #019777 !important;
}

i-image img:hover {
  box-shadow: 0 0 2px 1px #019777 !important;
}

.haraj_logo {
  height: 58px;
  border-radius: 5px;
}

.bgWhite {
  background: white;
}

.haraj_name {
  font-size: 26px;
  padding-left: 10px;
  font-family: fantasy;
  padding-right: 10px;
  background: -webkit-linear-gradient(#dddf00, #008704);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loaded {
  display: none;
}

.hidden {
  display: none;
}

body {
  background-color: #ecf9f6;

  /* background-image: url(/assets/palm.svg); */
  background-repeat: repeat;
}

header,
footer {
  filter: drop-shadow(2px 4px 6px black) !important;
}

.tagSide {
  border-radius: 10px;
  height: fit-content;
  background-color: #fff;
}

.main-content {
  background-color: #fff;
}

.main-content i-checkbox {
  display: inline-flex;
}

.border-circle {
  border-radius: 50%;
}

a,
span,
button,
p {
  font-family: var(--font-family);
  text-decoration: none;
}

/* .ad-area img {
  max-width: 90%;
  height: 180px;
} */
.red {
  color: red;
}

.adarea-link {
  position: absolute;
  width: 100px;
  height: 100px;
}

.adarea-image {
  width: 100% !important;
  border-radius: unset;
  height: 85% !important;
  position: relative;
}

.border-img img {
  border-radius: 5px !important;
}

.is-invalid {
  border: 1px solid red;
}

.level-1 {
  padding: 10px 20px;
  background: white;
  border-radius: 5px;
  border: 1px solid #bbb;
  display: inline-block;
  min-width: 15%;
  vertical-align: top;
  margin: 10px !important;
}

.level-1 > a {
  font-weight: bold;
  color: #004f3e;
  font-size: 29px;
  cursor: pointer;
}

.report-list {
  border: 1px solid red;
  border-radius: 10px;
  width: 90%;
  margin: 10px 20px 10px 10px;
  padding: 7px 10px 7px 7px;
  font-size: 21px;
  color: #4a4a4a;
}

.report-list:hover {
  border: 2px solid red;
  padding: 6px 8px 6px 6px;
  background-color: #ffe8e25e;
  cursor: pointer;
}

.report-list-selected {
  border: 2px solid red !important;
  padding: 6px 8px 6px 6px !important;
  color: black;
  background-color: #ff90735e !important;
}

.level-1 > a:hover {
  text-decoration: underline;
}

.level-2 {
  background: white;
  border-radius: 5px;
  display: block;
  vertical-align: top;
}

.level-2 > a {
  font-weight: bold;
  color: #007a60;
  font-size: 20px;
  cursor: pointer;
}

.level-2 > a:hover {
  text-decoration: underline;
}

i.fa.fa-square {
  border: 1px solid #00802d;
}

i-checkbox .selector.un-selected {
  background: transparent !important;
  color: #030303 !important;
}
.tabs .tabs-content {
  width: 100% !important;
}
i.fa.fa-check {
  border: none !important;
  background-color: transparent !important;
}

.level-3 {
  background: white;
  display: block;
  padding: 0px 10px;
  margin: 5px;
  vertical-align: top;
}

.level-3 > a {
  font-weight: bold;
  color: rgb(0 33 161);
  font-size: 18px;
  cursor: pointer;
}

.level-3 > a:hover {
  text-decoration: underline;
}

.level-4 {
  background: white;

  display: block;
  padding: 0px 10px;
  margin: 10px;
  vertical-align: top;
}

.level-4 > a {
  font-weight: bold;
  color: rgb(0 51 209);
  font-size: 15px;
  cursor: pointer;
}

.level-4 > a:hover {
  text-decoration: underline;
}

.level-5 {
  background: white;

  display: block;
  padding: 0px 10px;
  margin: 10px;
  vertical-align: top;
}

.level-5 > a {
  font-weight: bold;
  color: rgb(145, 0, 85);
  font-size: 15px;
  cursor: pointer;
}

.level-5 > a:hover {
  text-decoration: underline;
}

.clock-area {
  display: block;
  position: relative;
  background: var(--theme-color);
  padding: 0px 20px;
  border-radius: 5px;
}
.clock-area img {
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.clock-area span {
  position: absolute;
  color: #ffffff;
  font-family: 'Arabic';
  font-size: 18px;
  font-weight: bold;
  right: 15px;
  bottom: 0px;
  text-shadow: 1px 1px 5px #000;
}
.darkgray {
  color: #7d7d7d;
}
