.footerContainer {
  display: flex !important;
  flex-direction: column;
  height: fit-content;
  padding: 16px !important;
  margin-top: 24px !important;
  margin-bottom: 24px !important;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  background: var(--main-background-color2);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.footerContainer .logo {
  display: flex;
  font-size: 30px;
}

.footerContainer .footerNav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer .footerNav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 0px !important;
}

.footerContainer .footerNav ul li {
  width: fit-content;
  text-align: center;
  padding: 0 8px !important;
}
