:root {
  --body-margin-top: 0px;
  --body-margin-bottom: 0px;
  --zoom: 100%;
  --fieldset-border: none;
}

* {
  max-width: initial;
}
.bottom {
  bottom: 0 !important;
  top: unset !important;
}
body {
  background-color: var(--main-background-color1) !important ;
  margin-bottom: 0px !important;
  background-image: var(--background-image) !important;
  background-repeat: round;
  background-size: cover;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color1);
}
a:hover {
  text-decoration: underline;
}
p {
  font-family: Arabic !important;
  margin-bottom: 0px !important;
  text-align: right;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
  --bs-gutter-x: 0px !important;
}

.display {
  display: flex !important;
}

.hidden {
  display: none !important;
}

.closeBtn {
  width: fit-content;
  cursor: pointer;
}

.mainContent {
  margin: 24px 0px !important;
  z-index: 999 !important;
}

.mainContent .content {
  position: relative;
}

.no-scroll {
  overflow: hidden;
}

.mainContent .content {
  padding-left: 24px !important;
}

.btn {
  display: flex !important;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px !important;
  border-bottom: 5px solid var(--button-border-color-0) !important;
  background: var(--button-backgroundColor-0) !important;
  color: var(--button-fontColor-0) !important;
  gap: 8px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--hover-button-backgroundColor-0) !important;
}

.second-btn {
  display: flex !important;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px !important;
  background-color: var(--button-backgroundColor-1);
  border: 3px solid var(--button-border-color-1) !important;
  color: var(--button-fontColor-1) !important;
  gap: 8px;
  cursor: pointer;
}

.second-btn:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--hover-button-fontColor-1) !important;
  background: var(--hover-button-backgroundColor-1) !important;
}

.headTitle {
  color: #1e1e1e;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.viewAll {
  color: #1475cf !important;
  cursor: pointer;
  padding: 10px;
  font-size: larger;
}

.viewAll:hover {
  color: #1e14cf !important;
  font-size: 20px;
}

.scrollx-menu {
  padding: 10px !important;
  overflow-x: auto;
  flex-direction: column-reverse;
  height: 37vw !important;
  scrollbar-color: #2087e7 #e7e7e7;
}
.notifacation-padge {
  position: absolute;
  background: red;
  color: white;
  width: 21px;
  font-size: smaller;
  padding: 2px;
  border-radius: 50%;
  text-align-last: center;
  bottom: 25px;
  left: 20px;
}

.notifacation-icon {
  font-size: 40px;
  color: var(--color1) !important;
}

.notifacation-icon:hover {
  filter: brightness(0.9) !important;
}
.color1 {
  color: var(--color1) !important;
}
.color2 {
  color: var(--color2) !important;
}
.color3 {
  color: var(--color3) !important;
}
.color4 {
  color: var(--color4) !important;
}
.background1 {
  background: var(--background1) !important;
}
.background2 {
  background: var(--background2) !important;
}
.background3 {
  background: var(--background3) !important;
}
.background4 {
  background: var(--background4) !important;
}
.notification-menu {
  display: none;
  position: absolute;
  width: 480px;
  left: 109px;
  top: 108px;
  max-height: 400px;
  bottom: auto;
  text-align: center;
  border-top: none;
  background: white;
  border-radius: 13px 13px 13px 13px;
  box-shadow: 1px 2px 1px 0px #c9c9c9b3;
  overflow: hidden;
  border: #f1f1f1 solid;
  z-index: 9999;
  overflow: hidden;
  overflow-y: scroll;
}
.notifacation-title {
  font-size: 18px;
  font-weight: bold;
  padding: 2px;
  margin: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
  text-overflow: ellipsis;
}

.notifacation-logo {
  height: 100%;
  border-radius: 50%;
  padding: 3px;
  width: 80px;
}
.gray {
  color: gray;
}
.notifacation-content {
  font-size: 17px;
  color: #616161;
  overflow: hidden;
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notification-viewAll {
  text-align: center;
  color: #2087e7;
  font-size: larger;
  font-family: fantasy !important;
}

.separative {
  height: 2px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) -0.09%, rgb(52 94 255 / 79%) 50.9%, rgba(0, 0, 0, 0) 99.81%);
  margin: 15px !important;
}

.notifacation-data:hover {
  background-color: #f2f2f2;
}

.ul-list {
  display: inline-table !important;
}
.alert-green {
  border: 1px solid;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  color: white;
  background: green;
  border-radius: 10px;
}
figure {
  position: relative;
  align-items: center;
  float: inline-start;
  justify-content: center;
  width: 300px;
  margin: 10px;
  height: 430px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    h1 {
      opacity: 0;
      transform: scale(0.7);
    }
    img {
      transform: scale(1.25);
    }
    figcaption {
      bottom: 0;
    }
  }
  .type {
    text-align: center;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 10px;
    color: black;
    font-size: 22px;
    font-weight: 100;
    opacity: 0.8;
    z-index: 990;
    background: #c6c6c6;
    height: auto;
    width: 100%;
    border: 5px solid #c5c5c5;
  }
  .name {
    text-align: center;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 22px;
    height: 45px;
    font-weight: 100;
    opacity: 0.8;
    z-index: 990;
    background: #000000;
    height: auto;
    width: 100%;
    border: 5px solid #000000;
  }
  img {
    height: 100%;
    width: 100%;
    transition: 0.25s;
  }
  figcaption {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 30px;
    background-color: rgba(black, 0.85);
    box-shadow: 0 0 20px rgba(black, 0.4);
    color: white;
    line-height: 1;
    transition: 0.25s;
    div {
      background: var(--button-background);
      color: var(--button-color);

      border-radius: 13px;
    }
    /* 	h3 {
			margin: 0 0 20px;
			padding: 0;
		} */
    .price {
      text-align: center;
      font-weight: bold;
      position: relative;
      font-size: large;
    }

    p {
      border-radius: 10px;
      background: rgb(0 0 0 / 45%);
      font-size: 15px;
      line-height: 1.8;
      padding: 10px;
      text-align: center;
      max-height: 120px;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
    }
    button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0 0;
      padding: 10px 30px;
      background-color: #1e14cf;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
.content-right {
  text-align: -webkit-right;
}
.teacher-main-li {
  padding: 10px;
  margin: 10px;
  height: 480px;
  width: 270px;
  transition: all 0.2s ease;
  a {
    text-align-last: center;
    text-decoration: none;
  }
}
.teacher-main-li:hover {
  transform: scale(1.1);
}
.teacher-main-div {
  border: 1px solid;
  background: white;
  border-radius: 15px;
  img {
    max-height: 225px;
    max-width: 250px !important;
    padding: 5px;
    border-radius: 15px 15px 0px 0px;
  }
}

.teacher-main-bio {
  font-size: 13px;
  line-height: 1.8;
  padding: 2px 10px 0px 10px;
  text-align: center;
  height: 122px !important;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  color: lightslategray;
}
.modal {
  background-color: var(--background2) !important;
}
.modal-header {
  background-color: var(--background2) !important;
}
.price-more-card {
  margin: 10px 0px 0px 0px !important;
  padding: 10px !important;
}
.bg-ad {
  background-color: var(--background4);
  border-radius: 13px;
  color: var(--color4);
}
.more-card {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
/* .buy-btn {
  margin: 15px -5px 20px 0px;
  text-align-last: center;
  background: var(--button-background);
  color: var(--button-color);
  border-radius: 5px;
  font-size: x-large;
}

.btn {
  background: var(--button-background) !important;
  color: var(--button-color) !important;
  border-bottom: none !important;
}
.btn:hover {
  filter: brightness(1.1) !important;
  background-color: var(--button-background) !important;
}

.buy-btn:hover {
  filter: brightness(1.1);
} */
.links-a {
  display: block;
  margin: 10px;
  background: gainsboro;
  padding: 10px;
  max-inline-size: max-content;
  color: #0000a2 !important;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
}
button {
  margin-bottom: 15px;
  text-align: -webkit-center;
  background: transparent;
  color: var(--button-color) !important;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  perspective: 10rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

button::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(320deg, var(--button-background), rgba(76, 76, 76, 0.308));
  z-index: 1;
  transition: background 3s;
}

button:hover::before {
  animation: rotate 1s;
  transition: all 0.5s;
}

@keyframes rotate {
  0% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}

.nft {
  display: inline-block;
  user-select: none;
  margin: 15px !important;
  width: 300px;
  height: 500px;
  float: right;
  border: 1px solid #ffffff22;
  background: linear-gradient(120deg, rgb(141 194 243) 0%, rgb(18 127 229) 100%);
  box-shadow: 0 7px 20px 5px #a4adff;
  border-radius: 10px 0px 0px 10px;
  border-right: 7px dashed #d6e0ff;
  backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
  }
  h2 {
    text-align: center;
    font-family: "Font Awesome 5 Free";
    color: white;
    font-size: 2rem;
  }
  ins {
    text-decoration: none;
  }
  .main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .tokenImage {
      border-radius: 0.5rem;
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
    .description {
      margin: 0.5rem 0;
      color: #e6edff;
      overflow: hidden;
      height: 123px;
      white-space: inherit;
      text-overflow: ellipsis;
    }
    .tokenInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price {
        font-size: larger;
        display: flex;
        align-items: center;
        color: #cde7ff;
        font-weight: 700;
        ins {
          margin-left: 0.7rem;
          margin-right: 0.5rem;
        }
      }
      button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0 0;
        padding: 8px 30px;
        background-color: #000cd3;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
  ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  &:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 25px 10px #0061bc;
    transform: scale(1.015);
    filter: brightness(1.3);
    ::before {
      filter: brightness(0.5);
      top: -100%;
      left: 200%;
    }
  }
}
label {
  color: var(--label-color);
}

.tabs .tabs-header .tab-link.active {
  background: var(--button-background) !important;
  color: var(--button-color) !important;
  border-radius: 15px !important;
}

.tabs .tabs-header .tab-link:hover {
  background: var(--button-background) !important;
  color: var(--button-color) !important;
  border-radius: 15px !important;
}

fieldset legend {
  color: var(--label-color);
}
.label-color {
  color: var(--label-color) !important;
}
.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 20rem;
    filter: opacity(0.5);
  }
}
.display-ad-name {
  font-size: 34px;
  font-weight: bold;
  color: var(--color3) !important;
  margin: 5px;
}
.content-ad {
  border-radius: 15px !important;
  margin-top: 20px !important;
  padding: 15px !important;
  background: var(--background3) !important;
}

.banner-word {
  padding: 10px;
  margin: 10px 0px 10px 0px;
  /* background: white;
  border: 1px solid #b2b2b2; */
  border-radius: 10px;
  text-align: center;
  /* color: #1e7cd4; */
  font-weight: bold;
  font-size: 40px;
  font-family: helvetica, arial, sans-serif;
}
.banner-word span {
  font-size: 50px;
  font-weight: 600;
  font-family: sans-serif;
  color: var(--color2);
  /* text-transform: uppercase;
  text-shadow: 1px 1px 0px #ffffff, 1px 2px 0px #c4c4c4, 1px 3px 0px #cccccc, 1px 4px 0px #bfbfbf, 1px 5px 0px #9a9a9a, 1px 6px 0px #e4e4e4, 1px 10px 5px rgb(199 199 199 / 64%),
    1px 15px 10px rgb(122 122 122 / 40%), 1px 20px 30px rgb(182 182 183 / 30%), 1px 25px 50px rgb(198 198 198 / 20%); */
}
.modal-footer {
  flex-wrap: wrap;
}
.error {
  font-size: large;
}
.banner-viewAll {
  /*   float: left; */
  font-size: large;
  margin-top: 10px;
  font-family: sans-serif;
  color: var(--color2) !important;
  margin: 5px;
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
}

.banner-viewAll:hover {
  border-bottom: 2px solid;
  border-radius: 3px;
  filter: brightness(0.8) !important;
}

.student-parent-main {
  margin-bottom: 50px;
  margin-right: 20px;
}

.student-parent {
  display: -webkit-box;
  img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: 1px solid;
  }
  p {
    font-size: large;
    position: absolute;
    display: table-row;
    background: var(--button-background);
    color: var(--button-color);
    padding: 7px;
    border-radius: 10px;
    width: 170px;
    text-align-last: center;
  }
}
.black {
  color: black !important;
}
.banner-site {
  width: 100%;
  max-height: 600px;
  object-fit: fill;
  border-radius: 15px;
}
@media screen and (max-width: 480px) {
  .notification-menu {
    left: 0px;
    top: 125px;
  }
}
