.videoStoryContainer {
  width: 100%;
  height: 111.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000 !important;
  background-color: rgba(0, 0, 0, 0.425);
  padding: 16px !important;
}

.videoStoryContainer .closeBtn {
  position: absolute;
  z-index: 990;
  margin-top: -43px;
  background: var(--main-background-color2);
  padding: 8px !important;
  border-radius: 8px;
}

.videoStoryContainer .videoStroy {
  width: fit-content;
  height: fit-content;
  margin: 0;
  background-color: white;
  padding: 16px !important;
  border-radius: 8px;
}
